RewriteBase /docs

RewriteRule ^$ guides/ [R,L]

# we used to keep the unstable spec under /docs/spec/unstable. Redirect the
# pages to their new home.
RewriteRule ^spec/unstable/appendices.html$ spec/appendices.html [R,L]
RewriteRule ^spec/unstable/application_service.html$ spec/application_service/unstable.html [R,L]
RewriteRule ^spec/unstable/client_server.html$ spec/client_server/unstable.html [R,L]
RewriteRule ^spec/unstable/howtos.html$ howtos [R,L]
RewriteRule ^spec/unstable/identity_service.html$ spec/identity_service/unstable.html [R,L]
RewriteRule ^spec/unstable/index.html$ spec/index.html [R,L]
RewriteRule ^spec/unstable/push_gateway.html$ spec/push_gateway/unstable.html [R,L]
RewriteRule ^spec/unstable/server_server.html$ spec/server_server/unstable.html [R,L]

# there also exist some broken links to the r0.2.0 spec.
RewriteRule ^spec/r0.2.0/client_server.html$ spec/client_server/r0.2.0.html [R,L]

# olm redirects
# these are referenced as /docs/x/y.html however the .html is stripped at an earlier step.
Redirect /docs/olm_signing https://gitlab.matrix.org/matrix-org/olm/blob/master/docs/signing.md
Redirect /docs/spec/olm https://gitlab.matrix.org/matrix-org/olm/blob/master/docs/olm.md
Redirect /docs/spec/megolm https://gitlab.matrix.org/matrix-org/olm/blob/master/docs/megolm.md
