.guardian,
.staff {
    display: flex;
    align-items: flex-start;
    margin: 2.5em 0;

    img {
        width: 128px;
        max-width: 25vw;
        border-radius: 100%;

        &:first-child {
            margin-right: 20px;
        }

        &:last-child {
            margin-left: 20px;
        }
    }
}

.guardian-name,
.staff-name {
    font-weight: bold;
    margin: 0 0 .5rem;
}
