* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    color: #333;

    font-family: "Helvetica Neue",
        "Helvetica",
        Arial,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif,
        "Apple Color Emoji",
        /* Emojis*/
        "Segoe UI Emoji",
        /* Emojis*/
        "Segoe UI Symbol";

    font-weight: 400;
    line-height: 1.75;

    &>main {
        padding-top: 60px;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

a {
    color: #0098d4;
    text-decoration: none;

    &:active,
    &:hover {
        outline: 0;
    }
}



ul,
ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p:not(:last-child),
blockquote:not(:last-child),
figure:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
    margin-bottom: 1em;
}

p:last-child,
blockquote:last-child,
figure:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

:not(pre)>code {
    background-color: #fdfdfd;
    box-sizing: border-box;
    margin-bottom: 1em;
}

:not(pre)>code {
    position: relative;
    padding: .2em;
    border-radius: 0.3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    white-space: normal;
}

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background-attachment: scroll;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre {
    white-space: normal;
    padding: .5rem;
    overflow: auto;

    &[class*="language-"]>code {
        position: relative;
        border-left: 10px solid #358ccb;
        box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf;
        background-color: #fdfdfd;
        background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
        background-size: 3em 3em;
        background-origin: content-box;
        background-attachment: local;
    }

    code[class*="language"] {
        max-height: inherit;
        height: inherit;
        padding: 0 1em;
        display: block;
        overflow: auto;
    }

    // The line numbers already provide some kind of left/right padding
    &[data-linenos] {
        padding: .5rem 0;
    }


    table {
        width: 100%;
        border-collapse: collapse;
    }

    mark {
        // If you want your highlights to take the full width.
        display: block;
        // The default background colour of a mark is bright yellow
        background-color: rgba(254, 252, 232, 0.9);
    }

    table {
        td {
            padding: 0;

            // The line number cells
            &:nth-of-type(1) {
                text-align: center;
                user-select: none;
            }
        }
    }
}

.content {
    width: 100%;

    display: flex;
    max-width: 960px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-left: 24px;
    padding-right: 24px;

    @media (max-width: 991px) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @media (max-width: 767px) {
        padding-left: 14px;
        padding-right: 14px;
    }
}

article.content {
    align-items: flex-start;
}

.content.dark {
    background-color: #f4f4f4;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.w-button.button-dark {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

.w-button.button-dark:hover {
    background-color: #0098d4;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.site-footer {
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;

    .internal-links {
        width: 100%;
        padding-bottom: 20px;
        max-width: 960px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
            margin-top: 10px;
            color: #999;
            text-decoration: none;
        }
    }

    .external-links {
        display: flex;
        width: 100%;
        max-width: 960px;
        justify-content: center;

        a {
            max-width: 100%;
            display: inline-block;

            img {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }

    a:hover {
        color: #fff;
    }

    p {
        margin-top: 20px;
        color: #999;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .grid-container-third {
        padding: 10px;
        width: 33%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .grid-container {
        padding: 10px;
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .grid-container-full {
        padding: 10px;
        width: 100%;
    }

    .block {
        p {
            text-align: center;
        }

        padding: 20px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
