* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-height: 100%;
    background-color: var(--text-color);
    color: var(--default-background-color);

    font-family: "Helvetica Neue",
        "Helvetica",
        Arial,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif,
        "Apple Color Emoji",
        /* Emojis*/
        "Segoe UI Emoji",
        /* Emojis*/
        "Segoe UI Symbol";

    font-weight: 400;
    line-height: 1.75;
}

main {
    padding-top: 60px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

a {
    color: #0098d4;
    text-decoration: none;

    &:active,
    &:hover {
        outline: 0;
    }
}



ul,
ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


p:last-child,
blockquote:last-child,
figure:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

.content {
    width: 100%;
    max-width: 960px;

    margin: 10px auto;
    padding: 0 1.5rem;

    @media (max-width: 767px) {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.content.dark {
    background-color: #f4f4f4;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.w-button.button-dark {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
}

.w-button.button-dark:hover {
    background-color: #0098d4;
}

.site-footer {
    background-color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;

    .internal-links {
        width: 100%;
        padding-bottom: 20px;
        max-width: 960px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
            margin-top: 10px;
            color: #999;
            text-decoration: none;
        }
    }

    .external-links {
        display: flex;
        width: 100%;
        max-width: 960px;
        justify-content: center;

        a {
            max-width: 100%;
            display: inline-block;

            img {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }

    a:hover {
        color: #fff;
    }

    p {
        margin-top: 20px;
        color: #999;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .grid-container-third {
        padding: 10px;
        width: 33%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .grid-container {
        padding: 10px;
        width: 50%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .grid-container-full {
        padding: 10px;
        width: 100%;
    }

    .block {
        p {
            text-align: center;
        }

        padding: 20px;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

pre {
    padding: 1rem;
    overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}
