@use "./helpers/media";

:root {
    --page-max-width: 57rem;
    --page-with-toc-max-width: 81rem;
    --navbar-height: 5.937rem;
    --color-text: #333;
    --color-text-light: #757575;

    @media (prefers-contrast: more) {
        --color-text: #000;
        --color-text-light: #595959;
    }

    --color-link: #0098d4;
    --page-hero-height: 15rem;
    --borders-color: #ddd;
}

* {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 1.875rem; // obtained by fine tuning
}

body {
    margin: 0;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: var(--color-text);
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        sans-serif,
        "Apple Color Emoji",
        /* Emojis*/
        "Segoe UI Emoji",
        /* Emojis*/
        "Segoe UI Symbol";
    line-height: 1.75;
}

main {
    flex: 1;
    padding-top: var(--navbar-height);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p:last-child,
blockquote:last-child,
figure:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

.content {
    width: 100%;
    max-width: var(--page-max-width);
    margin: 1rem auto;
    padding-inline: 1rem;

    img {
        height: auto;
        max-height: 40rem;
        max-width: 100%;
    }

    video {
        max-height: 40rem;
        max-width: 100%;
    }
}

.content.with-sidebar {
    max-width: var(--page-with-toc-max-width);
}

.page_card {
    background-color: #000;
    border-radius: 16px;
    background-image: url("/assets/frontpage/hero_dancing_lines.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1rem;
    max-width: 23rem;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card_content {
        color: #fff;

        h4 {
            font-size: 1.125rem;
            font-weight: 700;
            padding: 0;
            margin: 0 0 1rem;
        }

        p {
            font-size: .9rem;
        }
    }

    .arrow {
        background-image: url("/assets/down-arrow.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 3rem;
        height: 3rem;
        margin: auto 0 auto .5rem;
        transform: rotate(-90deg);
        filter: invert(1);
    }
}