.post {
    width: 100%;
    display: table;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #ddd;

    table {

        tbody,
        thead {
            width: 100%;
        }

        th,
        td {
            text-align: left !important;
        }
    }

    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }

    blockquote {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        border-left: 5px solid #E2E2E2;
    }

    img {
        max-height: 40rem;
    }

    header {
        margin-bottom: 1rem;
    }

    .post-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-self: center;

        >div {
            max-width: 960px;
            width: 100%;
        }

        aside {
            @media (max-width: 991px) {
                display: none;
            }

            a {
                color: rgb(51, 51, 51);

                &:hover {
                    color: rgb(0, 152, 212);
                }
            }

            &>ul>li {
                margin-bottom: 5px;
            }

            max-width: 320px;
            width: 100%;
            margin-top: 20px;
            margin-left: 60px;
            padding-top: 5px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            background-color: #f4f4f4;
        }

    }
}

#continue-reading {
    // scroll a bit further down so the header doesn't obstruct the content that was scrolled to
    scroll-margin-top: 60px;
}
