article.post {
    width: 100%;

    &:not(:last-of-type) {
        padding-bottom: 1rem;
        margin-bottom: 2.5rem;
        border-bottom: 2px solid #ddd;
    }

    &:last-of-type {
        margin-bottom: 1.5rem;
    }

    table {

        tbody,
        thead {
            width: 100%;
        }

        th,
        td {
            text-align: left !important;
        }
    }

    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }

    blockquote {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        border-left: 5px solid #E2E2E2;
    }

    img {
        max-height: 40rem;
    }

    header {
        margin-bottom: 1rem;
    }

    &.with-sidebar {
        // content width + sidebar width + padding between
        max-width: calc(1280px + 4rem);
    }
}

.post-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;

    aside {
        @media (max-width: 1023px) {
            display: none;
        }

        a {
            color: rgb(51, 51, 51);

            &:hover {
                color: rgb(0, 152, 212);
            }
        }

        &>:first-child {
            margin-top: 0;
        }

        &>ul>li:not(:last-child) {
            margin-bottom: .5rem;
        }

        flex: 1 1;
        max-width: 320px;
        margin-top: 1rem;
        margin-left: 4rem;
        padding: 1.5rem;
        background-color: #f4f4f4;
    }
}

.post-content {
    // Use all of the space not taken by the sidebar
    flex: 3;
}

#continue-reading {
    // scroll a bit further down so the header doesn't obstruct the content that was scrolled to
    scroll-margin-top: 60px;
}
