.bridges-page.content p {
    margin-block: 2.5rem;
}

.platforms-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17rem);
    row-gap: .8rem;
    margin-block: 2rem 3rem;
    margin-inline: auto;

    .platform {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        padding-block: .5rem;
        padding-inline: .5rem 1rem;
        max-width: fit-content;
        cursor: pointer;

        color: var(--color-text);

        img {
            width: 64px;
            height: 64px;

            border: 1px solid #d2d2d2;
            border-radius: 15px;
        }

        .details {
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0;
                line-height: 1.2;
            }

            p {
                margin: 0;
                font-size: .875rem;
                color: #545454;
            }
        }

        &:hover {
            background-color: #e9e9e9;
            border-radius: 12px;
        }
    }
}

.bridges_implem > :nth-child(even) {
    background-color: #fafafa;
}

.implementation {
    padding: 80px;
    @media (max-width: 767px) {
        padding: 1rem;
    }
    display: grid;
    grid-template-columns: 2fr 1fr;
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    .recommended-chip {
        background-color: #000;
        color: #fff;
        border-radius: 9999px;
        max-width: fit-content;
        padding: .2rem 1rem;
    }

    .privileges {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .privileges > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem;

        div {
            background-color: #e9e9e9;
            border-radius: 9999px;
            padding-inline: .5rem;
        }
    }

    .features-matrix {
        ul li {
            padding-block: .5rem;
            line-height: 1.6;
            list-style-position: inside;
            list-style-image: url('/assets/cross_unsupported.svg');

            &.supported {
                list-style-image: url('/assets/tick_supported.svg');
            }

            & + li {
                border-top: 1px solid #d2d2d2;
            }
        }
    }
}
