.clients_page {
    padding-top: 3rem;
    padding-inline: 2rem;

    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 120%;
        margin: 0 auto 4rem auto;
        max-width: 40rem;
    }
}

.clients-card-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    margin-bottom: 5rem;
}

.client-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 1rem;

    flex: 1 0 280px;
    max-width: 280px;
    min-height: 343px;
    height: 100%;

    border: 1px solid #D2D2D2;
    border-radius: 16px;

    cursor: pointer;

    img {
        margin: 0;
        width: 65px;
        height: 65px;
        box-sizing: content-box;
    }

    p {
        margin: 0;
    }

    h3 {
        margin: 0;

        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
    }

    a {
        margin-top: auto;
        color: #777;
        text-decoration: none;
    }
}

.platform-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px 4px;
    flex-wrap: wrap;
}

.platform-pill {
    background: #E9E9E9;
    border-radius: 16px;
    padding: .375rem .625rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #000000;
}

/* We have no design for this currently
.platform-pill:hover {
    background-color: #2b8cc9;
}*/

#filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40rem;
    margin: 0 auto 2rem auto;
    justify-content: center;
    gap: 1rem;

    .filter-wrap {
        position: relative;

        .filter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: .8rem;

            padding: .2rem .8rem;

            background-color: #fafafa;
            color: #000;
            border: 1px solid #d2d2d2;
            border-radius: 1000px;

            cursor: pointer;
            user-select: none;

            .divider {
                width: 1px;
                height: 100%;
                border-left: 1px solid var(--borders-color);
            }

            img {
                height: .9em;
                margin-block: auto;
            }
        }

        .filter-menu {
            display: none;
            position: absolute;
            top: 2.7rem;
            left: 0;
            min-width: 15rem;
            max-width: 20rem;
            z-index: 100;

            padding: .5rem 1rem;

            background-color: #fafafa;
            border: 1px solid var(--borders-color);
            border-radius: 16px;

            p {
                margin: 0;
                margin-bottom: .5rem;
                font-size: .8rem;
                text-align: start;
            }

            input {
                accent-color: #000;
            }

            input, label {
                cursor: pointer;
                user-select: none;
            }

            .reset-links {
                font-size: .8rem;

                a {
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }
}

.client-details {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    max-width: calc(var(--page-max-width)*.55);
    max-height: calc(100svh - var(--navbar-height) - 2rem);
    transform: translate(-50%, -43%);
    z-index: 300;
    flex-direction: column;
    overflow-y: scroll;

    background-color: #fff;
    border: 1px solid var(--borders-color);
    border-radius: 16px;
    padding: 1.5rem;

    .app-logo {
        width: 8rem;
        margin-inline: auto;
    }

    h3 {
        display: flex;
        gap: .5rem;
        margin: 1rem auto .1rem auto;

        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;

        .maturity {
            border: 1px solid var(--borders-color);
            border-radius: 9999px;
            padding: 0 .6rem;
            font-size: 1.2rem;
            font-weight: 400;
            max-width: fit-content;

            &.stable {
                background-color: rgb(214, 230, 207);
            }

            &.beta {
                background-color: rgb(253, 229, 205);
            }

            &.alpha {
                background-color: rgb(244, 204, 204);
            }

            &.obsolete {
                background-color: rgb(233, 233, 233);
            }
        }
    }

    p {
        margin: 0;
        text-align: start;
        font-size: 1rem;
    }

    .last-release {
        margin-bottom: 1.5rem;
        font-size: .8rem;
        text-align: center;
    }

    .features-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;

        .support-title {
            text-align: center;
            font-weight: 700;
            margin-block: 1.5rem .4rem;
        }
    }

    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }

    .features-list p {
        padding: .2rem .4rem;
        background-color: #eee;
        border: 1px solid var(--borders-color);
        border-radius: 16px;
    }

    .stores {
        display: flex;
        justify-content: center;
        gap: .3rem 1rem;
        flex-wrap: wrap;
        margin-block-start: 1.5rem;

        a img {
            height: 3.33rem;
            display: block;
        }
    }
}

.client-details-overlay {
    display: none;
}

.client-checkbox {
    display: none;

    &:checked~.client-details-overlay {
        position: fixed;
        z-index: 100;
        top: var(--navbar-height);
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);

        display: block;
    }

    &:checked~.client-details {
        display: flex;
    }
}

.install_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;

    padding: 0 1.5rem;

    background-color: #000;
    color: #fff;

    border-radius: 10px;
    border: 1px solid rgb(166, 166, 166);

    height: 3.33rem;
    min-width: 9.96rem;
    max-width: 11.18rem;

    .install_on {
        font-size: .7rem;
        line-height: 100%;
    }

    .platform {
        font-size: 1.3rem;
        line-height: 100%;
    }
}
