body:has(.projects-card-deck > div > .client-checkbox:checked) {
    overflow: hidden;
}

.clients_page {
    padding-top: 3rem;
    padding-inline: 2rem;

    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 120%;
        margin: 0 auto 4rem auto;
        max-width: 40rem;
    }
}

.projects-card-deck.clients {
    margin-bottom: 5rem;
}

.project-card.client {
    cursor: pointer;
}

.platform-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px 4px;
    flex-wrap: wrap;
}

.platform-pill {
    background: #E9E9E9;
    border-radius: 16px;
    padding: .375rem .625rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #000000;
}

.client-details {
    display: flex;
    position: fixed;

    top: var(--navbar-height);
    left: 0;
    right: 0;
    bottom: 0;

    padding: 1rem;

    @media (min-width: 767px) {
        top: 50%;
        left: 50%;
        right: unset;
        bottom: unset;
        transform: translate(-50%, -43%);
        max-width: calc(var(--page-max-width)*.65);
        max-height: calc(100svh - var(--navbar-height) - 2rem);

        border: 1px solid var(--borders-color);
        border-radius: 16px;

        padding: 1.5rem;
    }

    z-index: 300;
    flex-direction: column;
    overflow-y: scroll;

    background-color: #fff;

    .close-button {
        position: absolute;
        top: 1rem;
        left: 1rem;
        @media (min-width: 767px) {
            right: 1rem;
            left: unset;
        }

        cursor: pointer;

        img {
            height: 1rem;
        }
    }

    .app-logo {
        width: 8rem;
        margin-inline: auto;
    }

    h3 {
        display: flex;
        gap: .5rem;
        margin: 1rem auto .1rem auto;
        align-items: center;

        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;
    }

    p {
        margin: 0;
        text-align: start;
        font-size: 1rem;
    }

    .last-release {
        margin-bottom: 1.5rem;
        font-size: .8rem;
        text-align: center;
    }

    .features-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;

        .support-title {
            text-align: center;
            font-weight: 700;
            margin-block: 1.5rem .4rem;
        }
    }

    .features-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }

    .features-list p {
        padding: .2rem .4rem;
        background-color: #eee;
        border: 1px solid var(--borders-color);
        border-radius: 16px;
    }

    .stores {
        display: flex;
        justify-content: center;
        gap: .3rem 1rem;
        flex-wrap: wrap;
        margin-block-start: 1.5rem;

        a img {
            height: 54px;
            display: block;
        }
    }
}

.client-checkbox {
    display: none;

    &:checked~.client-details-overlay {
        position: fixed;
        z-index: 150;
        top: var(--navbar-height);
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
    }

    &:not(:checked)~.client-details-overlay {
        display: none;
    }

    &:not(:checked)~.client-details {
        display: none;
    }
}
