body:has(.projects-card-deck > div > .client-checkbox:checked) {
    overflow: hidden;
}

.clients_page {
    padding-top: 3rem;

    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 120%;
        margin: 0 auto 4rem auto;
        max-width: 40rem;
    }
}

.projects-card-deck.clients {
    margin-bottom: 5rem;
}

.project-card.client {
    color: var(--color-text);
    cursor: pointer;
}

.platform-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px 4px;
    flex-wrap: wrap;
}

.platform-pill {
    background: #E9E9E9;
    border-radius: 16px;
    padding: .375rem .625rem;

    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #000000;
}

.client-details {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    column-gap: 1rem;

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .app-logo {
            width: 8rem;
            margin-inline: auto;
        }

        h1 {
            display: flex;
            gap: .5rem;
            margin: 0 auto;
            align-items: center;
            justify-content: center;

            font-style: normal;
            font-weight: 700;
            font-size: 2rem;

            .maturity {
                padding-block: .3rem;
            }
        }

        p {
            margin: 0;
            text-align: center;
            font-size: 1rem;
        }

        .latest-release {
            margin-bottom: 0 auto;
            font-size: .8rem;
            text-align: center;
        }

    }

    .project-links {
        margin-top: 1rem;
        justify-content: center;
    }
}

.client-checkbox {
    display: none;

    &:checked~.client-details-overlay {
        position: fixed;
        z-index: 150;
        top: var(--navbar-height);
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
    }

    &:not(:checked)~.client-details-overlay {
        display: none;
    }

    &:not(:checked)~.client-details {
        display: none;
    }
}

.stores {
    display: flex;
    justify-content: center;
    gap: .3rem 1rem;
    flex-wrap: wrap;
    margin-block: 2rem;

    a img {
        height: 54px;
        display: block;
    }
}
