header {
    margin-bottom: 1em;

    h1 {
        margin-bottom: 0;
    }

    .last-updated {
        font-size: .8rem;
    }
}

.docs-body {
    width: 100vw;
}

.docs-menu {
    padding: 1em;
    width: 18em;
    border-right: 1px solid #ddd;

    position: fixed;
    top: 5.937rem;
    bottom: 0;
    left: 0;
    right: 18rem;
    overflow-y: auto;

    .submenu-checkbox {
        display: none;

        &:not(:checked) ~ .section-submenu-wrap {
            display: none;
        }

        &:not(:checked) ~ .submenu-title {
            .arrow {
                background-image: url("/assets/down-arrow.svg");
                width: 1rem;
                height: 1rem;
                margin: auto 0;
            }
        }

        &:checked ~ .submenu-title {
            .arrow {
                background-image: url("/assets/up-arrow.svg");
                width: 1rem;
                height: 1rem;
                margin: auto 0;
            }
        }
    }

    .submenu-title {
        display: flex;
        flex-direction: row;
        gap: .8rem;

        font-size: 1.2rem;
        font-weight: 700;

        cursor: pointer;
        user-select: none;
    }

    ul {
        border-left: 1px solid #bbb;
        padding-left: 0;
        list-style: none;

        li {
            padding-left: 1em;
        }

        li:hover {
            background-color: rgba(43, 140, 201, 0.1);
        }

        a {
            color: #333;
        }
    }
}

.docs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.doc-section-tile {
    flex: 1 0 180px;
    max-width: 200px;
    text-align: center;
    background-color: rgba(43, 140, 201, .1);
    color: #333;
    border-radius: .5rem;
    padding: .5rem;

    span {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

.doc-section-tile:hover {
    background-color: rgba(43, 140, 201, .2);
}

.docs-content {
    margin-left: 18rem;
}

.mjolnir_button {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 1000px;
    padding: 0 .4rem;
    background-color: rgb(242, 247, 252);
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    max-width: 80%;
    margin: 2rem auto 2.5rem auto;
    padding: 1rem;

    border: 1px solid #dedede;
    border-radius: 4px;

    p {
        font-size: .8rem;
        text-align: center;
    }
}
