header {
    margin-bottom: 1em;

    h1 {
        margin-bottom: 0;
    }

    .last-updated {
        font-size: .8rem;
    }
}

.docs-body {
    width: 100vw;

    --docs-menu-width: 18rem;
}

.docs-menu {
    padding: 1em;
    border-right: 1px solid var(--borders-color);

    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    left: 0;
    right: calc(100vw - var(--docs-menu-width));

    @media (max-width: 767px) {
        right: 0;
        border-right: unset;
        background-color: #fff;
    }

    overflow-y: auto;

    .submenu-checkbox {
        display: none;

        &:not(:checked)~.section-submenu-wrap {
            display: none;
        }

        &:not(:checked)~.submenu-title {
            .arrow {
                background-image: url("/assets/down-arrow.svg");
                width: 1rem;
                height: 1rem;
                margin: auto 0;
            }
        }

        &:checked~.submenu-title {
            .arrow {
                background-image: url("/assets/up-arrow.svg");
                width: 1rem;
                height: 1rem;
                margin: auto 0;
            }
        }
    }

    .submenu-title {
        display: flex;
        flex-direction: row;
        gap: .8rem;

        font-size: 1.2rem;
        font-weight: 700;

        cursor: pointer;
        user-select: none;
    }

    ul {
        border-left: 1px solid #bbb;
        padding-left: 0;
        list-style: none;

        li {
            padding-left: 1em;
        }

        li:hover {
            background-color: rgba(43, 140, 201, 0.1);
        }

        a {
            color: var(--color-text);
        }
    }
}

.docs-content {
    margin-left: 18rem;

    @media (max-width: 767px) {
        margin-inline: auto;
        padding-inline: .5rem;
    }

    article p img {
        max-width: 100%;
        margin-inline: auto;
    }
}

#docs-menu-checkbox {
    display: none;
}

#docs-menu-button {
    position: sticky;
    display: none;
    z-index: 900;

    @media (max-width: 767px) {
        display: inline-block;
    }

    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: #000;
    color: #fff;
    border-radius: 9999px;
    padding: .5rem 2rem;
    box-shadow: 0 2px 2px #666;
    cursor: pointer;
}

#docs-menu-checkbox:not(:checked)+div {
    @media (max-width: 767px) {
        display: none;
    }
}

.mjolnir_button {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 1000px;
    padding: 0 .4rem;
    background-color: rgb(242, 247, 252);
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-inline: 0;
    padding: 1rem;

    border: 1px solid #dedede;
    border-radius: 4px;

    img {
        max-width: 100%;
        max-height: 100%;
    }

    figcaption {
        font-size: .8rem;
        text-align: center;
    }
}
