header {
    margin-bottom: 1em;

    h1 {
        margin-bottom: 0;
    }

    .last-updated {
        font-size: .8rem;
    }
}

.docs-body {
    display: flex;
    width: 100vw;
}

.docs-menu {
    padding: 1em;
    width: 18em;
    border-right: 1px solid #ddd;

    details {
        summary {
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;
            margin: .5rem 0;

            .arrow {
                background-image: url("/assets/down-arrow.svg");
                width: .8rem;
                height: .8rem;
                margin: auto 0;
            }
        }

        summary.current {
            font-weight: bold;
        }
    }

    details[open] {
        summary .arrow {
            background-image: url("/assets/up-arrow.svg");
        }
    }

    ul {
        border-left: 1px solid #bbb;
        padding-left: 0;
        list-style: none;

        li {
            padding-left: 1em;
        }

        li:hover {
            background-color: rgba(43, 140, 201, 0.1);
        }

        a {
            color: #333;
        }
    }
}

.docs-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.doc-section-tile {
    flex: 1 0 180px;
    max-width: 200px;
    text-align: center;
    background-color: rgba(43, 140, 201, .1);
    color: #333;
    border-radius: .5rem;
    padding: .5rem;

    span {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

.doc-section-tile:hover {
    background-color: rgba(43, 140, 201, .2);
}

