.guardian {
    display: flex;
    flex-direction: row;

    .guardian-picture {
        width: 128px;
        height: 128px;
        min-width: 128px;
        min-height: 128px;
        border-radius: 128px;
        margin: 20px;
        filter: grayscale(100%);
    }

    .guardian-details {
        display: flex;
        flex-direction: column;
        padding: 20px;

        .guardian-name {
            font-weight: bold;
        }
    }
}