.site-header {
    position: fixed;
    z-index: 1000;

    display: flex;
    width: 100%;
    height: 5.937rem;
    padding-left: 20px;
    align-items: center;
    margin-bottom: 0;

    font-size: 1.125rem;
    color: #fff;

    background-color: #000;

    @media screen and (min-width: 1024px) {
        padding-right: 20px;
    }

    .brand {
        margin-right: auto;

        img {
            width: 128px;
            height: 55px;
        }
    }

    .dropdown-button {
        font-family: 'webflow-icons';
        font-size: 1.5rem;

        padding: 0 1rem;

        // Make the button take the full height
        align-self: stretch;
        display: flex;
        align-items: center;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    nav {
        display: flex;

        @media screen and (max-width: 1023px) {
            position: fixed;
            z-index: 800;
            top: 5.937rem;
            left: 0;
            right: 0;

            flex-direction: column;
            background-color: #000;
        }

        @media screen and (min-width: 1024px) {
            align-items: center;
        }

        a {
            padding: 8px 24px;
            margin: 8px 0;
            color: #fff;
            font-size: 1.125rem;
            @media screen and (max-width: 1023px) {
                font-size: 1.5rem;
            }

            &:hover {
                color: #0082f3;
            }

            &.current {
                color: #0082f3;
            }

            &.primary {
                border-radius: 60px;
                background-color: #fff;
                color: #000 !important;

                padding-left: 2em;
                padding-right: 2em;
                margin-left: .5rem;
                margin-right: .5rem;

                @media screen and (max-width: 1023px) {
                    text-align: center;
                }

                @media screen and (min-width: 1024px) {
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
            }
        }

        @media screen and (min-width: 1024px) {
            .mobile {
                display: none;
            }
        }

        @media screen and (max-width: 1023px) {
            .desktop {
                display: none;
            }
        }

        label {
            cursor: pointer;
        }
    }

    @media screen and (min-width: 1024px) {
        .section-wrap {
            position: relative;
            align-self: stretch;
            display: flex;
            justify-content: center;

            &:not(:hover) .section-submenu {
                display: none;
            }
        }

        .section-submenu-wrap {
            position: absolute;
            top: 60px;
            padding-top: 4px;
        }

        .section-submenu {
            background: #fff;
            border: 1px solid #f4f4f4;
            border-radius: 6px;

            a {
                color: #000;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .section-submenu {
            padding-left: 1em;
            display: flex;
            flex-direction: column;

            a {
                font-size: 1.125rem;
            }
        }

        .section-wrap {
            margin: 8px 0;
        }
    }
}

#site-header-dropdown-checkbox {
    display: none;

    @media screen and (max-width: 1023px) {
        &:checked~.dropdown-button {
            background-color: #000;
        }

        &:checked~.page-overlay {
            position: fixed;
            z-index: 400;
            top: 5.937rem;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;
        }

        &:not(:checked)~nav {
            display: none;
        }
    }
}

.submenu-checkbox {
    display: none;

    @media screen and (max-width: 1023px) {
        &:not(:checked) ~ .section-submenu-wrap {
            display: none;
        }

        &:not(:checked) ~ .submenu-title {
            .arrow {
                background-image: url("/assets/down-arrow.svg");
                width: 1rem;
                height: 1rem;
                margin: auto 0;
                filter: invert(1);
            }
        }

        &:checked ~ .submenu-title {
            .arrow {
                background-image: url("/assets/up-arrow.svg");
                width: 1rem;
                height: 1rem;
                margin: auto 0;
                filter: invert(1);
            }
        }
    }
}

.submenu-title {
    @media screen and (max-width: 1023px) {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        font-size: 1.5rem;
    }

    label:hover {
        color: #0082f3;
    }

    margin: auto 0;
    padding: 8px 24px;
}
