.site-header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	@media all and (min-width: 1150px) {
		height: var(--navbar-height);
	}

	.header-content {
		display: flex;
		justify-content: space-between;

		width: 100%;
		height: auto;
		padding: 1.25rem;

		font-size: 1.5rem;
		color: #fff;

		@media all and (min-width: 1150px) {
			align-items: center;
			font-size: 1.125rem;
			padding: 0 20px;
			gap: 2rem;
			flex-direction: row;
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: #0082f3;
			}

			&.current {
				color: #0082f3;
			}

			&.button {
				border-radius: 60px;
				background-color: #fff;
				color: #000 !important;

				padding-inline: clamp(1em, 3dvw, 2em);
				padding-block: 0.5rem;

				@media all and (max-width: 1149px) {
					margin-block: 1.2rem;
					text-align: center;
				}

				@media all and (min-width: 1150px) {
					&:not(:last-child) {
						margin-right: 12px;
					}
				}
			}
		}

		&:has(#header-toggle-checkbox:checked) {
			nav > ul {
				display: flex;
			}

			gap: 1rem;
			flex-direction: column;

			@media all and (min-width: 1150px) {
				flex-direction: row;
			}
		}

		nav {
			& > ul {
				display: none;

				flex-direction: column;
				gap: 1.5rem;
				list-style: none;
				padding: 0;
				margin: 0;
				align-items: start;

				@media all and (min-width: 1150px) {
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				li {
					display: flex;
					flex-direction: column;

					flex-shrink: 0;
					white-space: nowrap;

					&:has(.button) {
						@media all and (max-width: 1149px) {
							align-self: center;
							width: 100%;
						}
					}

					& > div {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 0.5rem;
					}

					@media all and (min-width: 1150px) {
						text-align: center;
						justify-content: center;
						align-items: center;
					}

					.submenu-toggle {
						aspect-ratio: 1;
						width: .8rem;
						display: grid;
						cursor: pointer;
						top: 2px;

						& > * {
							grid-row-start: 1;
							grid-column-start: 1;
						}
					}
				}

				li.section {
					position: relative;
					gap: 0.4rem;
					justify-items: center;

					.submenu-toggle-checkbox {
						aspect-ratio: 1;
						visibility: hidden;
						width: 100%;
						height: auto;
					}

					label {
						position: relative;

						input[type="checkbox"] {
							position: absolute;
							top: 0;
							left: 0;

							@media all and (min-width: 1150px) {
								pointer-events: none;
							}
						}

						img {
							width: 100%;
							height: auto;
							position: absolute;
							top: 0;
							left: 0;
							transform: rotate(0deg);
						}
					}

					img {
						transition: transform 0.3s ease-in-out;
						transform: rotate(0deg);
					}

					@media all and (min-width: 1150px) {
						&:hover img {
							transform: rotate(-180deg);
						}

						&:hover .section-submenu {
							display: flex;
						}
					}

					&:has(.submenu-toggle-checkbox:checked) img {
						transform: rotate(-180deg);
					}

					&:has(.submenu-toggle-checkbox:checked) .section-submenu {
						display: flex;
					}
				}

				ul.section-submenu {
					display: none;
					flex-direction: column;
					color: #fff;
					align-items: start;

					@media all and (min-width: 1150px) {
						position: absolute;
						width: auto;
						top: 2rem;
						background-color: #fff;
						border: 1px solid hsla(0, 0%, 80%, 1);
						box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
						border-radius: 6px;
						padding-inline: 1rem;
						padding-block: 0.5rem;
						font-size: 1.125rem;

						a {
							color: #000 !important;

							&:hover {
								color: #0082f3 !important;
							}
						}
					}

					a {
						color: #fff;
					}

					li {
						justify-content: start;
					}
				}
			}
		}

		.brand-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			@media all and (min-width: 1150px) {
				width: auto;
			}
		}

		.brand {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 75px;
			height: 32px;

			@media all and (min-width: 768px) {
				width: 128px;
				height: 55px;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		.dropdown-button {
			font-family: "webflow-icons";
			display: grid;
			line-height: 1rem;

			@media all and (min-width: 1150px) {
				display: none;
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1rem;
			}

			input[type="checkbox"] {
				opacity: 0;
				aspect-ratio: 1;
				cursor: pointer;
			}

			& > * {
				grid-row-start: 1;
				grid-column-start: 1;
			}
		}
	}
}
