.site-header {
    position: fixed;
    z-index: 1000;

    display: flex;
    width: 100%;
    height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid #f4f4f4;
    align-items: center;
    margin-bottom: 0;

    background-color: #fff;

    @media screen and (min-width: 1024px) {
        padding-right: 20px;
    }

    .brand {
        margin-right: auto;
    }

    .dropdown-button {
        font-family: 'webflow-icons';
        font-size: 1.5rem;

        padding: 0 1rem;

        // Make the button take the full height
        align-self: stretch;
        display: flex;
        align-items: center;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    nav {
        display: flex;

        @media screen and (max-width: 1023px) {
            position: fixed;
            z-index: 800;
            top: 60px;
            left: 0;
            right: 0;

            flex-direction: column;
            background-color: #ddd;
        }

        @media screen and (min-width: 1024px) {
            align-items: center;
        }

        a {
            padding: 8px 24px;
            margin: 8px 0;
            color: #222222;

            &:hover {
                color: #0098d4;
            }

            &.current {
                color: #0082f3;
            }

            // regular / primary distinction only exists in the desktop view
            @media screen and (min-width: 1024px) {
                &.primary {
                    border-radius: 60px;
                    background-color: #000;
                    color: #fff !important;

                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: 12px;

                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }

                &.primary:hover {
                    background-color: #0098d4;
                }
            }
        }

        label {
            cursor: pointer;
        }
    }

    @media screen and (min-width: 1024px) {
        .section-wrap {
            position: relative;
            align-self: stretch;
            display: flex;
            justify-content: center;

            &:not(:hover) .section-submenu {
                display: none;
            }
        }

        .section-submenu-wrap {
            position: absolute;
            top: 60px;
            padding-top: 4px;
        }

        .section-submenu {
            background: #fff;
            border: 1px solid #f4f4f4;
        }
    }

    @media screen and (max-width: 1023px) {
        .section-submenu {
            padding-left: 1em;
        }
    }
}

#site-header-dropdown-checkbox {
    display: none;

    @media screen and (max-width: 1023px) {
        &:checked~.dropdown-button {
            background-color: #ddd;
        }

        &:checked~.page-overlay {
            position: fixed;
            z-index: 400;
            top: 61px;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;
        }

        &:not(:checked)~nav {
            display: none;
        }
    }
}
