.hosting_page {
    margin: 0 auto;
    padding: 5.625rem 0 2rem 0;
    @media (max-width: 767px) {
        padding: 5.625rem 32px 2rem 32px;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .hosting_providers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3.125rem;

        .provider_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: 24px;

            flex: 1 0 400px;
            max-width: 400px;
            @media (max-width: 767px) {
                flex: 1 0 300px;
                max-width: 300px;
            }

            border: 1px solid #d2d2d2;
            border-radius: 16px;

            .details {
                text-align: center;

                .provider_logo_container {
                    height: 10rem;
                }

                h3 {
                    height: 5rem;
                    margin: 0;
                    text-align: center;

                    font-style: normal;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 120%;
                }

                .operating_since {
                    height: 1.5rem;
                    font-size: 0.9rem;
                }
            }

            .details p,
            ul {
                text-align: left;
            }

            .call-to-action {
                background-color: #000;
                color: #fff;
                border-radius: 1000px;
                padding: 0.4rem 2rem;
                align-self: center;
            }
        }
    }
}
