#frontpage {

    #hero {
        height: calc(100vh - 60px);
        background-color: #000;
        background-image: url("/assets/frontpage/hero_dancing_lines.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

        .hero_content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                max-width: 36rem;
                margin: 0 auto;
                text-align: center;
            }

            img {
                width: 200px;
                height: 86px;
                margin: 0 auto 2rem auto;
            }
        }

        #hero_curve1 {
            border-radius: 10% 100%;
            background-color: #333;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -1vh;
            right: -50px;
        }

        #hero_curve2 {
            border-radius: 10% 100%;
            background-color: #666;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -3vh;
            right: -50px;
        }

        #hero_curve3 {
            border-radius: 10% 100%;
            background-color: #aaa;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -5vh;
            right: -50px;
        }

        #hero_curve4 {
            border-radius: 10% 100%;
            background-color: #fff;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -7vh;
            right: -50px;
        }
    }

    #use-case-personal {
        background-color: #fff;
        background: url("/assets/frontpage/personal-bg.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position-y: bottom -20px;

        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding-bottom: 175px;

        h2 {
            color: #000;
            font-weight: 700;
            margin: auto 0 auto 5rem;
            width: 28rem;
        }

        img {
            margin: auto 0px;
            width: 469px;
            height: 418px;
        }

        #personal_bottom {
            position: absolute;
            bottom: -340px;
            width: 150%;
            height: 400px;
            background-color: black;
            border-radius: 100% 100%;
        }
    }

    #use-case-community {
        background-color: #000;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: center;
        padding-top: 60px;
        padding-bottom: 100px;

        h2 {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            width: 36rem;
            margin: 0 auto;
        }

        .call-to-action {
            background-color: #fff;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 2em auto 4em auto;
        }

        img {
            margin: 0 auto;
            width: 756px;
            height: 487px;
        }
    }

    #complex_apps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10rem 8rem;

        h2 {
            color: #000;
            font-weight: 700;
            margin: auto 0;
            max-width: 450px;
        }

        img {
            border: 20px solid black;
            border-radius: 30px;
        }
    }

    #buildonmatrix {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 16rem 0 25rem 0;
        justify-content: space-around;

        position: relative;

        color: #fff;
        background-color: #000;
        background-image: url("/assets/frontpage/buildon-bg.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;

        h2 {
            text-align: center;
            margin: 0 auto;
            font-weight: 700;
        }

        p {
            text-align: center;
            margin: 0 auto;
            max-width: 433px;
            font-size: 18px;
        }

        .logo {
            filter: invert(1);
            width: 130px;
            height: 130px;
            margin: 0 auto;
        }

        #bridge_visual {
            position: absolute;
            top: 100px;
            left: 50px;

            width: 240px;
            height: 287px;
        }

        #homeserver {
            position: absolute;
            bottom: 50px;
            left: 150px;

            width: 230px;
            height: 235px;
        }

        #federation_visual {
            position: absolute;
            top: 50px;
            right: 50px;

            width: 425px;
            height: 853px;
        }

        .call-to-action {
            background-color: #fff;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 0 auto;
        }
    }

    #sponsors {
        display: flex;
        flex-direction: column;

        padding: 5rem 2.8rem;

        h2 {
            text-align: center;
            margin: 0 auto;
            font-weight: 700;
        }

        #sponsors_grid {
            .sponsor_card {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                padding: 1rem 5rem;
                margin: 3rem 0 5rem 0;

                border: 1px solid black;
                max-width: 400px;

                h3 {
                    text-align: center;
                    margin: 0 auto;
                    font-size: 18px;
                    font-weight: 700;
                }

                a {
                    margin: 0 auto;
                }
            }
        }

        p {
            text-align: center;
            margin: 0 auto;
            max-width: 638px;
        }

        .call-to-action {
            background-color: #000;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 1.5rem auto 0 auto;
        }
    }
}
