#frontpage {

    #hero {
        height: calc(100vh - 60px);
        background-color: #000;
        background-image: url("/assets/frontpage/hero_dancing_lines.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

        .hero_content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                max-width: 36rem;
                margin: 0 auto;
                text-align: center;
            }

            img {
                width: 200px;
                height: 86px;
                margin: 0 auto 2rem auto;
            }
        }

        #hero_curve1 {
            border-radius: 10% 100%;
            background-color: #333;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -1vh;
            right: -50px;
        }

        #hero_curve2 {
            border-radius: 10% 100%;
            background-color: #666;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -3vh;
            right: -50px;
        }

        #hero_curve3 {
            border-radius: 10% 100%;
            background-color: #aaa;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -5vh;
            right: -50px;
        }

        #hero_curve4 {
            border-radius: 10% 100%;
            background-color: #fff;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -7vh;
            right: -50px;
        }
    }

    #use-case-personal {
        height: calc(100vh - 60px);
        background-color: #fff;
        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding-bottom: 100px;

        h2 {
            color: #000;
            font-weight: 700;
            margin: auto 0 auto 5rem;
            width: 28rem;
        }

        img {
            margin: auto 0px;
            width: 469px;
            height: 418px;
        }

        #personal_bottom {
            position: absolute;
            bottom: -340px;
            width: 150%;
            height: 400px;
            background-color: black;
            border-radius: 100% 100%;
        }
    }

    #use-case-community {
        min-height: calc(100vh - 60px);
        background-color: #000;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: center;
        padding-top: 60px;
        padding-bottom: 100px;

        h2 {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            width: 36rem;
            margin: 0 auto;
        }

        .call-to-action {
            background-color: #fff;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 2em auto 4em auto;
        }

        img {
            margin: 0 auto;
            width: 756px;
            height: 487px;
        }
    }

    #complex_apps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 3rem 5rem;

        h2 {
            color: #000;
            font-weight: 700;
            margin: auto 0;
            max-width: 450px;
        }

        img {
            margin: 0 auto;
            border: 20px solid black;
            border-radius: 30px;
        }
    }

    #sponsors {}
}
