#frontpage {

    #hero {
        height: calc(100vh - 95px);
        background-color: #000;
        background-image: url("/assets/frontpage/hero_dancing_lines.svg");
        @media (max-width: 767px) {
            background-image: url("/assets/frontpage/hero_dancing_lines_mobile.svg");
        }
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;

        .hero_content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                max-width: 36rem;
                margin: 0 auto;
                text-align: center;

                @media (max-width: 767px) {
                    font-size: 34px;
                    margin: 0 30px;
                }
            }

            img {
                width: 200px;
                height: 86px;
                margin: 0 auto 2rem auto;
            }
        }

        #hero_curve1 {
            border-radius: 10% 100%;
            background-color: #333;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -1vh;
            right: -50px;

            @media (max-width: 767px) {
                height: 15vh;
            }
        }

        #hero_curve2 {
            border-radius: 10% 100%;
            background-color: #666;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -3vh;
            right: -50px;

            @media (max-width: 767px) {
                height: 15vh;
            }
        }

        #hero_curve3 {
            border-radius: 10% 100%;
            background-color: #aaa;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -5vh;
            right: -50px;

            @media (max-width: 767px) {
                height: 15vh;
            }
        }

        #hero_curve4 {
            border-radius: 10% 100%;
            background-color: #fff;
            height: 25vh;
            width: 200%;
            position: absolute;
            bottom: -7vh;
            right: -50px;

            @media (max-width: 767px) {
                height: 15vh;
            }
        }
    }

    #use-case-personal {
        background-color: #fff;
        background: url("/assets/frontpage/personal-bg.svg");
        background-size: 100% 100%;
        @media (max-width: 767px) {
            background-image: url("/assets/frontpage/personal-bg-mobile.svg");
            background-size: 100% 241px;
        }
        background-repeat: no-repeat;
        background-position-y: bottom -20px;

        position: relative;
        overflow: hidden;

        display: flex;
        flex-direction: row;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        justify-content: space-around;

        padding-bottom: 175px;

        h2 {
            color: #000;
            font-weight: 700;
            margin: auto 0 auto 5rem;
            @media (max-width: 767px) {
                font-size: 34px;
                margin: 0 50px 50px 50px;
            }
            max-width: 28rem;
        }

        img {
            margin: auto 0px;

            width: 469px;
            height: 418px;

            @media (max-width: 767px) {
                margin: 0px auto;
                width: 323px;
                height: 288px;
            }
        }

        #personal_bottom {
            position: absolute;
            bottom: -340px;
            height: 400px;
            background-color: black;
            border-radius: 100% 100%;

            width: 150%;
            left: -25%;

            @media (max-width: 767px) {
                width: 200%;
                left: -50%;
            }
        }
    }

    #use-case-community {
        background-color: #000;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: center;
        padding-top: 60px;
        padding-bottom: 100px;

        h2 {
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            max-width: 36rem;
            margin: 0 auto;

            @media (max-width: 767px) {
                font-size: 34px;
                margin: 0 50px 50px 50px;
            }
        }

        .call-to-action {
            background-color: #fff;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 2em auto 4em auto;
        }

        img {
            margin: 0 auto;
            width: 756px;
            height: 487px;

            @media (max-width: 767px) {
                margin: 0px auto;
                width: 292px;
                height: 188px;
            }
        }
    }

    #complex_apps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10rem 8rem;

        @media (max-width: 767px) {
            flex-direction: column;
            padding: 116px 30px;
        }

        h2 {
            color: #000;
            font-weight: 700;
            margin: auto 0;
            max-width: 450px;
            @media (max-width: 767px) {
                padding: 0 40px;
            }
        }

        img {
            border: 20px solid black;
            border-radius: 30px;
            @media (max-width: 767px) {
                margin-top: 50px;
            }
        }
    }

    #buildonmatrix {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 250px 0 435px 0;
        @media (max-width: 767px) {
            padding: 100px 35px 435px 35px;
        }

        justify-content: space-around;

        position: relative;

        color: #fff;
        background-color: #000;
        background-image: url("/assets/frontpage/buildon-bg.svg");
        background-size: 100% 100%;
        @media (max-width: 767px) {
            background-image: url("/assets/frontpage/buildon-bg-mobile.svg");
            background-size: 100% 480px;
            background-position-y: bottom;
        }
        background-repeat: no-repeat;

        h2 {
            text-align: center;
            margin: 0 auto;
            font-weight: 700;
        }

        p {
            text-align: center;
            margin: 0 auto;
            max-width: 433px;
            font-size: 18px;
        }

        .logo {
            filter: invert(1);
            width: 130px;
            height: 130px;
            margin: 0 auto;
        }

        #bridge_visual {
            position: absolute;
            top: 100px;
            left: 50px;

            width: 240px;
            height: 287px;

            @media (max-width: 767px) {
                display: none;
            }
        }

        #homeserver {
            position: absolute;
            bottom: 50px;
            left: 150px;

            width: 230px;
            height: 235px;

            @media (max-width: 767px) {
                display: none;
            }
        }

        #federation_visual {
            position: absolute;
            top: 50px;
            right: 50px;

            width: 425px;
            height: 853px;

            @media (max-width: 767px) {
                display: none;
            }
        }

        #federation_visual_mobile {
            display: none;
            @media (max-width: 767px) {
                display: inline;
                position: absolute;
                bottom: 50px;
                right: -3px;

                width: 322px;
                height: 324px,
            }
        }

        .call-to-action {
            background-color: #fff;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 0 auto;
        }
    }

    #sponsors {
        display: flex;
        flex-direction: column;

        padding: 5rem 2.8rem;

        h2 {
            text-align: center;
            margin: 0 auto;
            font-weight: 700;
        }

        #sponsors_grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 2rem auto;
            @media (max-width: 767px) {
                margin: 0 auto;
            }


            .sponsor_card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                margin: 1rem 0;
                padding: 1rem 0;

                width: 350px;
                @media (max-width: 767px) {
                    width: 100%;
                }

                img {
                    margin-bottom: 1rem;
                }

                .sponsor_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 200px;

                    h3 {
                        text-align: center;
                        margin: 0 auto;
                        font-size: 18px;
                        font-weight: 700;
                    }

                    a {
                        margin: 0 auto;
                    }
                }
            }
        }

        p {
            text-align: center;
            margin: 0 auto;
            max-width: 638px;
        }

        .call-to-action {
            background-color: #000;
            color: #fff;
            font-size: 18px;
            font-weight: 600;
            border-radius: 1000px;
            padding: .4em 2em;
            margin: 1.5rem auto 0 auto;
        }
    }
}
