.legacy-doc-warning {
    padding: 20px;
    border-radius: 10px;
    background-color: #FDF5F5;
    color: #EC5A5B;
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
