.legacy-doc-warning {
    padding: 1rem;
    border-radius: .5rem;
    background-color: #FDF5F5;
    color: #EC5A5B;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
