code {
  background: #eeeded !important;
  color: rgb(85, 85, 85) !important;
  padding: 2px 4px !important;
  font-weight: bolder;
  border-radius: 4px !important;
  border-color: rgb(85, 85, 85) !important;
}