.w-nav {
    position: relative;
    background: #dddddd;
    z-index: 1000;
}

.w-nav:before,
.w-nav:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-nav:after {
    clear: both;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.w-nav-link.w--current {
    color: #0082f3;
}

.w-nav-menu {
    position: relative;
    float: right;
}

.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

.w-nav-overlay .w--nav-menu-open {
    top: 0;
}

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w-nav-button.w--open {
    background-color: #C8C8C8;
    color: white;
}

.mxnavbar {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #f4f4f4;
    background-color: #fff;
}

.mxnavbar__container {
    min-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mxnavbar__navmenu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mxnavbar__navlink {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 30px;
}

.mxnavbar__navlink:hover {
    color: #0098d4;
}

.mxnavbar__navlink.w--current {
    color: #0098d4;
}

.mxnavbar__navlink.mxnavbar__navlink--primary {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    background-color: #000;
    color: #fff;
}

.mxnavbar__navlink.mxnavbar__navlink--primary:hover {
    background-color: #0098d4;
}

.mxnavbar__logo {
    margin-top: 15px;
}

@media (max-width: 991px) {
    .mxnavbar__container {
        margin-right: 20px;
        margin-left: 20px;
        padding-right: 0px;
        padding-left: 20px;
    }

    .mxnavbar__navmenu {
        background-color: #f4f4f4;
    }

    .mxnavbar__navlink {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mxnavbar__navlink.mxnavbar__navlink--primary {
        background-color: #f4f4f4;
        color: #222222;
        padding: 0px 30px;
    }

    .mxnavbar__menubutton.w--open {
        background-color: #f4f4f4;
    }

    .mxnavbar__icon {
        color: #000;
    }
}

@media (max-width: 767px) {
    .mxnavbar__container {
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
