.podcasts-content {
    display: flex;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    max-width: 1200px;
    margin: 0 auto 2em;
}

.podcasts-column {
    margin: 0 1em;
    flex: 1;
}

.badges {
    display: flex;
    flex-wrap: wrap;
    gap: .2em;

    img {
        height: 39px;
    }
}

.otwsu {
    h2 {
        display: inline-block;
        color: #fff;
        padding: .2em .4em .1em;
        background-color: #282828;
        border-radius: 3px;
        font-size: 1.563rem; // same as h3
    }

    h2+h3 {
        margin-top: 0;
    }

    time {
        color: #777;
    }
}

.otwsu-episode {
    margin-bottom: 1em;
    clear: both;

    h3 {
        margin-top: 0;
    }


    @media screen and (max-width: 703px) {
        img {
            margin: -1em 0 1em;
            width: 100%;
            max-height: 33vw;
            object-fit: cover;
            object-position: 0 100%;
        }
    }

    @media screen and (min-width: 704px) {
        img {
            margin: 0 0 .5em 1em;
            float: right;
            width: 40%;
        }
    }
}
