.post {
    width: 100%;
    display: table;

    table {

        tbody,
        thead {
            width: 100%;
        }


        th,
        td {
            text-align: left !important;
        }
    }


    iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }

    blockquote {
        padding-left: 28px;
        margin: 0 0 10px 0;
        padding: 10px 20px;
        border-left: 5px solid #E2E2E2;
    }

    img {
        max-height: 40rem;
    }

    header {
        margin-bottom: 1rem;
    }

    .post-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-self: center;

        main {
            max-width: 960px;
            width: 100%;
        }

        aside {
            @media (max-width: 991px) {
                display: none;
            }

            a {
                color: rgb(51, 51, 51);

                &:hover {
                    color: rgb(0, 152, 212);
                }
            }

            &>ul>li {
                margin-bottom: 5px;
            }

            max-width: 320px;
            width: 100%;
            margin-top: 20px;
            margin-left: 60px;
            padding-top: 5px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
            background-color: #f4f4f4;
        }

    }
}

.content.post {
    max-width: 1280px;
}

.article_linebreak {
    width: 100%;
    height: 2px;
    margin: 4rem;
    background-color: rgba(1, 1, 1, 0.1);
}