.page-header.support {

    .donate-row {
        display: flex;
        gap: 1rem;
        margin-block-start: 2rem;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    .call-to-action {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        background: #fff;
        color: #000;
        border-radius: 9999px;
        padding: .5rem 1rem;

        font-size: 1.125rem;
        font-weight: 600;

        @media (max-width: 767px) {
            justify-content: center;
        }
    }
}

.support.main {

    &>div {
        padding-block: 3rem;

        @media (max-width: 767px) {
            padding-block: 2rem;
        }
    }

    #join-foundation {
        padding-inline: 1rem;
        max-width: var(--page-max-width);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-inline: auto;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .call-to-action {
            background-color: #000;
            font-weight: 600;
            color: #fff;
            border-radius: 9999px;
            padding: .5rem 2rem;
        }
    }

    #supporters {
        max-width: var(--page-max-width);
        margin-inline: auto;

        h2 {
            text-align: center;
        }

        ul {
            margin-block-end: 2rem;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;

            li {
                width: var(--logo-width);
                list-style: none;
                padding: 1rem;
                border: 1px solid var(--borders-color);
                border-radius: 16px;
                display: grid;
                align-content: center;

                a {
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }

        .gold-supporters-grid {
            --logo-width: 250px;
        }

        .silver-supporters-grid {
            --logo-width: 150px;
        }
    }

    #the-spec {
        background-color: #fafafa;

        .content {
            display: flex;
            flex-direction: row;
            gap: 3rem;

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }

            img {
                max-width: 50%;
                margin-inline: auto;
            }
        }
    }

    #tangible-work {
        background-color: #000;
        color: #fff;

        .content {
            display: flex;
            flex-direction: row;
            gap: 3rem;

            @media (max-width: 767px) {
                flex-direction: column;
            }
        }
    }

    #all-your-comms {

        .content {
            display: flex;
            flex-direction: row;
            gap: 3rem;

            div {
                flex: 2;
            }

            img {
                flex: 1;
                min-width: 0;
            }

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
        }
    }

    #open-dev {
        background-color: #000;
        color: #fff;

        .content {
            max-width: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
    }

    #help-us {
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;

            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }

            .blurb {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }

        .call-to-action {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            padding: .6rem 1.5rem;
        }
    }
}

.membership {

    max-width: 65rem;
    padding-inline: 1rem;
    margin-inline: auto;

    h3 {
        font-size: 1.25rem;
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-block: 2rem 3rem;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    .representatives {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        h3 {
            text-align: center;
        }

        ul {
            padding-inline: 0;
            width: 100%;
        }

        li {
            list-style: none;
            text-align: center;
            background-color: #fafafa;
            border-radius: 8px;
            margin-block: .5em;
            padding: .5em 1rem;
        }
    }

    .tiers-row {
        display: grid;
        grid-template-columns: repeat(4, 15rem);
        gap: 1rem;
        overflow-y: auto;
        padding-block-start: 1.5em;
        margin-block-end: 2em;

        .tier-card {
            border: 1px solid var(--borders-color);
            border-radius: 16px;
            background-color: #fff;

            display: flex;
            flex-direction: column;
            padding: 1em;

            h3 {
                margin-inline: auto;
                margin-block-start: .5rem;
            }

            .pricing {
                background-color: #e9e9e9;
                border-radius: 9999px;
                margin-inline: auto;
                padding-inline: .8em;
            }

            ul {
                margin-block-start: 1rem;
                padding-inline-start: 1em;

                li {
                    list-style-image: url('/assets/tick_supported.svg');
                    margin-block: .3em;
                }
            }
        }
    }
}
