table {
    @media (max-width: 991px) {
        display: block;
        overflow-x: auto;
        width: fit-content;
    }

    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #cacaca;
    margin-bottom: 14px;

    th {
        text-align: left;
        padding: 0.5rem;
    }

    td {
        text-align: left;
        padding: 0.5rem;
    }

    /* zebra striping */

    tbody tr:nth-child(odd) {
        background-color: #f4f4f4;
    }

    tbody tr:nth-child(even) {
        background-color: #cecece;
    }
}