#taxonomy-list {
    h4 {
        margin-top: 0;
    }

    h3 {
        margin-bottom: 0;
    }
}

#taxonomy-single {
    .content {
        align-items: flex-start;

        &>header {
            position: relative;
            margin-bottom: 10px;

            &::after {
                content: "";
                height: 1px;
                width: 70px;
                position: absolute;
                bottom: -10px;
                left: 24px;
                margin-left: -25px;
                background: rgb(0 0 0 / 25%) none repeat scroll 0% 0%;
            }

            h2 {
                margin-top: 0;
                margin-bottom: 0;
            }

            h1 {
                margin-bottom: 0;
            }
        }

        // Hack to make the markdown titles one level smaller
        // It essentially makes the h2 inside the post an h3
        &>article>.post {
            h2 {
                margin-top: 20px;
                margin-bottom: 10px;
                font-size: 1.563rem;
            }
        }
    }
}
