.tweet {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 0px solid black;
    border-width: 1px;
    border-radius: 12px;
    border-color: rgb(207, 217, 222);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
    padding-bottom: 4px;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    background-color: rgb(255, 255, 255);

    &:hover {
        background-color: rgb(247, 249, 249);
    }


    article {
        height: 100%;
        margin-top: 10px;
        color: rgb(15, 20, 25);
        line-height: 24px;
        font-size: 20px;
        cursor: text;
        font-weight: 400;
    }

    .divider {
        min-height: 1px;
        width: 100%;
        background-color: rgb(207, 217, 222);
        margin-top: 4px;
    }

    .interactions {
        width: fit-content;
        margin-top: 4px;
        padding-top: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .likes {
            margin-right: 19px;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            cursor: pointer;
            display: flex;

            &:hover {
                span {
                    color: rgb(249, 24, 128);
                    text-decoration: underline;
                }

                .heart {
                    background-color: rgba(149, 24, 128, 0.1);

                    svg {
                        color: rgb(249, 24, 128);
                    }
                }
            }

            span {
                line-height: 19px;
                font-size: 14px;
                margin-left: 4px;
                color: rgb(83, 100, 113);
                font-weight: 400;
            }

            .heart {
                width: 30px;
                height: 30px;
                margin-left: -4px;
                border: 0px solid black;
                border-radius: 9999px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 1.25em;
                    max-width: 100%;
                    display: inline-block;
                    user-select: none;
                    position: relative;
                    color: rgb(83, 100, 113);
                    fill: currentColor;


                }
            }
        }

        .replies {
            margin-right: 19px;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            cursor: pointer;
            display: flex;

            &:hover {
                span {
                    color: rgb(0, 111, 214);
                    text-decoration: underline;
                }

                .cloud {
                    background-color: rgba(0, 111, 214, 0.1);

                    svg {
                        color: rgb(0, 111, 214);
                    }
                }
            }

            span {
                line-height: 19px;
                font-size: 14px;
                margin-left: 4px;
                color: rgb(83, 100, 113);
                font-weight: 400;
            }

            .cloud {
                width: 30px;
                height: 30px;
                margin-left: -4px;
                border: 0px solid black;
                border-radius: 9999px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 1.25em;
                    max-width: 100%;
                    display: inline-block;
                    user-select: none;
                    position: relative;
                    color: rgb(83, 100, 113);
                    fill: currentColor;
                }
            }
        }

        .copy {
            margin-right: 19px;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            cursor: pointer;
            display: flex;

            &:hover {
                span {
                    color: rgb(0, 186, 124);
                    text-decoration: underline;
                }

                .link {
                    background-color: rgba(0, 186, 124, 0.1);

                    svg {
                        color: rgb(0, 186, 124);
                    }
                }
            }

            span {
                line-height: 19px;
                font-size: 14px;
                margin-left: 4px;
                color: rgb(83, 100, 113);
                font-weight: 400;
            }

            .link {
                width: 30px;
                height: 30px;
                margin-left: -4px;
                border: 0px solid black;
                border-radius: 9999px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    height: 1.25em;
                    max-width: 100%;
                    display: inline-block;
                    user-select: none;
                    position: relative;
                    color: rgb(83, 100, 113);
                    fill: currentColor;
                }
            }
        }
    }

    .more {
        &:hover {
            background-color: rgba(0, 111, 214, 0.1);
        }

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 4px;
        margin-bottom: 12px;
        height: 30px;
        padding-left: 16px;
        padding-right: 16px;
        cursor: pointer;
        border-style: solid;
        border-width: 1px;
        border-radius: 9999px;
        border-color: rgb(207, 217, 222);

        span {
            height: 100%;
            padding-top: 4px;
            padding-bottom: 12px;
            color: rgb(0, 111, 214);
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .date {
        margin-top: 10px;
        color: rgb(83, 100, 113);
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    .user {
        display: flex;
        align-items: flex-start;
        justify-content: start;

        img {
            width: 46px;
            height: 46px;
            border-radius: 9999px;
        }

        .name {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            &:hover {

                a.title,
                a.subtitle {
                    text-decoration: underline;
                }
            }

            a.title {
                display: inline-flex;
                justify-content: start;
                align-items: center;
                text-overflow: ellipsis;
                overflow-wrap: break-word;
                margin: 0px;
                padding: 0px;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: rgb(15, 20, 25);
                overflow: hidden;

                .verified {
                    margin-left: 2px;
                    color: rgb(29, 155, 240);
                    fill: currentColor;
                }
            }

            a.subtitle {
                margin: 0px;
                padding: 0px;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: rgb(83, 100, 113);
                text-overflow: ellipsis;
                overflow-wrap: break-word;
            }
        }
    }
}