.pagination {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 120%;

    >div {
        flex: 1;
    }

    a {
        padding: .5rem;
        display: block;
        width: 100%;
        text-align: center;
    }
}
