body {
    font-family: "Helvetica Neue",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",  /* Emojis*/
        "Segoe UI Emoji", /* Emojis*/
        "Segoe UI Symbol"; /* Emojis*/
}

label {
    display: initial;
}

pre {
  overflow-x: scroll;
  width: 100%;
  max-width: calc(100vw - 20px);
}

.mxcontent__nav__link--title a, .mxcontent__nav__link a {
    color: inherit;
}

.bridgesPage img {
    max-width: 100px;
}

.bridgesPage table {
    width: 100%;
}

.legacy-table {
  text-align: left;
  margin-bottom: 10px;
}

.legacy-table td, tr, th {
  padding-right: 20px;
  padding-bottom: 4px;
}

.legacy-table th {
  padding-bottom: 8px;
}

.overscroll {
  overflow-x: scroll;
  width: 100%;
  max-width: calc(100vw - 20px);
}

.tmn-two-column {
    display: 'inline-table';
    column-count: 2;
    text-align: left;
}

.width-100 {
  width: 100%;
}
