# This file registers ownership for the code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

* @matrix-org/website-wg
/content/legal/ @matrix-org/legal @matrix-org/website-wg
/content/security-disclosure-policy.md @matrix-org/security @matrix-org/website-wg
/content/security-hall-of-fame/ @matrix-org/security @matrix-org/website-wg
/static/.well-known/pgp-key.txt @matrix-org/security
/static/.well-known/security.txt @matrix-org/security
/static/.well-known/matrix/ @matrix-org/sre
/content/homeserver/features.md @matrix-org/synapse-core @matrix-org/website-wg
/.github/CODEOWNERS @matrix-org/matrix-foundation
