/.matrix-doc
/assets
/assets.tar.gz
/console/download/cache/
/content/docs
/content.tar.gz
/env
/unstyled_docs/api
/unstyled_docs/howtos/client-server.html
/unstyled_docs/spec/appendices.html
/unstyled_docs/spec/intro.html
/unstyled_docs/spec/*/unstable.html
/jekyll/_site/
/jekyll/.sass-cache/
/packages/debian/db/
/packages/debian/pool/
/packages/debian/dists/
/packages/npm/
/node_modules/
.DS_Store

# artefacts from the /blog part of the site
/blog/
/site.css
/docs

# created when generating project .md files automatically
projects-gen/