[submodule "matrix-doc"]
	path = matrix-doc
	url = git@github.com:matrix-org/matrix-doc.git
[submodule "olm"]
	path = olm
	url = https://matrix.org/git/olm
[submodule "swagger-ui"]
	path = swagger-ui
	url = https://github.com/matrix-org/swagger-ui.git
