/.matrix-doc
/console/download/cache/
/docs/api/client-server
/docs/howtos/client-server.html
/docs/spec/appendices.html
/docs/spec/index.html
/docs/spec/intro.html
/docs/spec/*/unstable.html
/jekyll/_site/
/jekyll/.sass-cache/
/packages/debian/db/
/packages/debian/pool/
/packages/debian/dists/
/packages/npm/

# undocumented crap which is sitting on the production server. Is any of it
# needed? it needs documenting and/or cleaning up.
/blog/
