a.reference {
    color: #666;
}

ul {
    list-style-type: disc;
    padding-left: 60px;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul {
    list-style-type: square;
}

div.document p {
    padding-bottom: 1em;
}

blockquote {
    font-style: normal;
    font-size: 12px;
    font-size: 1em;
    font-weight: 0;
    letter-spacing: 0px;
    border-left: 0px;
}

a.anchor {
    top: -15px;
}
