div.top-menu-row {
    width: 100%;
    text-align: center;
    /* border: black 1px solid; */
    margin: 2px;
}
div.top-menu-row-inner {
    display: inline-block;
}
div.top-menu-row-inner span.title {
    font-size: larger;
}
div.top-menu-item {
    float:left;
    padding: 5px;
    margin: 5px;
    border: solid 1px #666;
}
div.definition-item {
    float:left;
    padding: 5px;
    margin: 5px;
    border: solid 1px #666;
    max-width: 300px;
    height: 210px;
    overflow-y: auto;
}
div.definition-close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    display: block;
}
div.definition-list {
    position: relative;
    display: none;
    border: solid 1px #666;
    padding-right: 50px;
}
div.highlighted-definition {
    background-color: #ccc;
    color: black;
}
a.definition {
    /*background-color: orangered;*/
    background: transparent url(i.png) center right no-repeat;
    padding-right: 18px;
    background-size:1em;
}


/** Taken from matrix.org divi style.css **/
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
}
h3 {
    font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}
.external-link-symbol {
    width: 30px
}
.permalink {
    font-size: small;
    text-decoration: none;
}

p, p:last-of-type {
    padding-bottom: 1em;
}

ul {
    list-style: initial;
}