RewriteBase /docs/spec/

# we used to keep the unstable spec under /docs/spec/unstable. Redirect the
# pages to their new home.
RewriteRule ^unstable/appendices.html$ appendices.html [R,L]
RewriteRule ^unstable/application_service.html$ application_service/unstable.html [R,L]
RewriteRule ^unstable/client_server.html$ client_server/unstable.html [R,L]
RewriteRule ^unstable/howtos.html$ ../howtos [R,L]
RewriteRule ^unstable/identity_service.html$ identity_service/unstable.html [R,L]
RewriteRule ^unstable/index.html$ index.html [R,L]
RewriteRule ^unstable/push_gateway.html$ push_gateway/unstable.html [R,L]
RewriteRule ^unstable/server_server.html$ server_server/unstable.html [R,L]
