{% extends "page.html" %}
{% import "macros/nominee.html" as nominee %}
{% block head_extra %}
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const nomineeSections = document.querySelectorAll('.nominees');
        for (const nomineeSection of nomineeSections) {
            const nomineesDetails = nomineeSection.querySelectorAll('details');

            nomineeSection.querySelector('.expand-all')?.addEventListener('click', () => {
                for (const nomineeDetail of nomineesDetails) {
                    nomineeDetail.setAttribute("open", "");
                    console.log(nomineeDetail);
                }
            });

            nomineeSection.querySelector('.collapse-all')?.addEventListener('click', () => {
                for (const nomineeDetail of nomineesDetails) {
                    nomineeDetail.removeAttribute("open");
                    console.log(nomineeDetail);
                }
            });
        }
    });
</script>
{% endblock %}
{% block content %}
<article id="elections" class="content">
    <header>
        <h1>{{ page.title }}</h1>
    </header>

    {{ page.content | safe }}

    {% set nominees_path = page.path ~ "nominees.toml" %}
    {% set nominees = load_data(path=nominees_path, format="toml") %}

    {% if nominees.platinum_members %}
    <h3>Platinum Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div></div>
    {% for representative in nominees.platinum_members %}
        {{ nominee::project(representative=representative) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.gold_members %}
    <h3>Gold Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for representative in nominees.gold_members %}
        {{ nominee::project(representative=representative) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.silver_members %}
    <h3>Silver Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for representative in nominees.silver_members %}
        {{ nominee::project(representative=representative) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.ecosystem_members %}
    <h3>Ecosystem Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for representative in nominees.ecosystem_members %}
        {{ nominee::project(representative=representative) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.associate_members %}
    <h3>Associate Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for representative in nominees.associate_members %}
        {{ nominee::project(representative=representative) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.individual_members %}
    <h3>Individuals Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for individual in nominees.individual_members %}
        {{ nominee::individual(individual=individual) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.sct_members %}
    <h3>Spec Core Team Members</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for representative in nominees.sct_members %}
        {{ nominee::project(representative=representative) }}
    {% endfor %}
    </div>
    {% endif %}

    {% if nominees.guardians %}
    <h3>Guardians</h3>
    <div class="nominees">
    <div class="nominees-buttons-row"><button class="expand-all">Expand all</button> - <button class="collapse-all">Collapse all</button></div>
    {% for guardian in nominees.guardian %}
        {{ nominee::individual(indivudal=guardian) }}
    {% endfor %}
    <div class="nominees">
    {% endif %}
</article>
{% endblock content %}
