/* styles.css
 * Better styling for of Nginx FancyIndex page
 * © 2015-17, Lilian Besson (Naereen) and contributors,
 * open-sourced under the MIT License, https://lbesson.mit-license.org/
 * hosted on GitHub, https://GitHub.com/Naereen/Nginx-Fancyindex-Theme
 */

 /* open-sans-300 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: url('../fonts/open-sans-v16-latin-300.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/open-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v16-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
 }
 /* open-sans-regular - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
 }
 /* open-sans-italic - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 400;
   src: url('../fonts/open-sans-v16-latin-italic.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../fonts/open-sans-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v16-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
 }
 /* open-sans-600 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/open-sans-v16-latin-600.eot'); /* IE9 Compat Modes */
   src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/open-sans-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v16-latin-600.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v16-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
 }
 /* open-sans-700 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/open-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/open-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v16-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
 }
 /* open-sans-800 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/open-sans-v16-latin-800.eot'); /* IE9 Compat Modes */
   src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/open-sans-v16-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v16-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v16-latin-800.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v16-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v16-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
 }


* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #61666c;
    font-weight: 300;
    font-size: 1em;
    line-height: 2em;
}

body {
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    max-width: 800px;
}

thead {
    font-weight: 200;
    font-size: 1.2em;
}

h1 {
    font-weight: 400;
    text-align: center;
    font-size: 1.6em;
    line-height: 3em;
}

a {
    color: #5f5f5f;
    text-decoration: none;
}
    a:hover {
        color: #000;
    }
    a.clear, a.clear:link, a.clear:visited {
        color: #666;
        padding: 2px 0;
        font-weight: 400;
        font-size: 14px;
        margin: 0 0 0 20px;
        line-height: 14px;
        display: inline-block;
        border-bottom: transparent 1px solid;
        vertical-align: -10px;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
    }

input {
    margin: 0 auto;
    font-size: 100%;
    vertical-align: middle;
    *overflow: visible;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #555;
    display: inline-block;
    height: 20px;
    padding: 4px 32px 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 196px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
    input:focus {
        outline: 0;
        border-color: rgba(0,0,0,0.8);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
    }
    input::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    padding: 10px;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

table {
    border-collapse: collapse;
    font-size: 1em;
    max-width: 100%;
    margin: 20px auto 0;
}

tr {
    outline: 0;
    border: 0;
}
    tr:hover td {
        background: #f6f6f6;
    }
    tr td:first-of-type {
        padding-left: 10px;
        padding-right: 10px;
    }
    tr.parent a {
        color: #9099A3;
    }

th {

    text-align: left;
    font-size: .75em;
    padding-right: 20px;
}
    th + th {
        width: 25%;
    }
    th + th + th + th {
        width: 5%;
    }

td {
    padding: 5px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #edf1f5;
    vertical-align: middle;
    text-align: left;
    -webkit-transition: background 300ms ease-in;
    -moz-transition: background 300ms ease-in;
    -ms-transition: background 300ms ease-in;
    -o-transition: background 300ms ease-in;
    transition: background 300ms ease-in;
}
    td:last-child,th:last-child {
        text-align: right;
        padding-right: 0;
    }
    td a {
        display: block;
    }

.parent a:hover {
    color: #2a2a2a;
}

/* nav */

.nav {
 background-color: #fff;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 z-index: 3;
}

.nav ul {
 margin: 0;
 padding: 0;
 list-style: none;
 overflow: hidden;
 background-color: #fff;
}

.nav li a {
 display: block;
 padding: 20px 20px;
 text-decoration: none;
}

.nav li a:hover,
.nav .menu-btn:hover {
 background-color: #f4f4f4;
}

.nav .logo {
 display: block;
 float: left;
 font-size: 2em;
 padding: 15px 20px;
 text-decoration: none;
}

/* menu */

.nav .menu {
 clear: both;
 max-height: 0;
 transition: max-height .2s ease-out;
}

/* menu icon */

.nav .menu-icon {
 cursor: pointer;
 display: inline-block;
 float: right;
 padding: 28px 20px;
 position: relative;
 user-select: none;
}

.nav .menu-icon .navicon {
 background: #333;
 display: block;
 height: 2px;
 position: relative;
 transition: background .2s ease-out;
 width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
 background: #333;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 transition: all .2s ease-out;
 width: 100%;
}

.nav .menu-icon .navicon:before {
 top: 5px;
}

.nav .menu-icon .navicon:after {
 top: -5px;
}

/* menu btn */

.nav .menu-btn {
 display: none;
}

.nav .menu-btn:checked ~ .menu {
 max-height: 100%;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
 background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
 transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
 transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
 top: 0;
}

@media (min-width: 72em) {
 .nav li {
   float: left;
 }
 .nav li a {
   padding: 20px 22px;
 }
 .nav .menu {
   clear: none;
   float: right;
   max-height: none;
 }
 .nav .menu-icon {
   display: none;
 }
}

footer {
    margin-top: 40px;
    font-size:0.8em;
    text-align:center;
}
    footer a {
        color:#2ea3f2;
    }
