@use "../helpers/colors";

.call-to-action {
    background-color: colors.$black;
    border: 2px solid colors.$black;
    color: colors.$white;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 1000px;
    padding: .6em 2em;

    &.inverted {
        border: 2px solid colors.$white;
        background-color: colors.$white;
        color: colors.$black;

        &.secondary {
            background-color: colors.$black;
            color: colors.$white;

            &:hover {
                background-color: colors.$white;
                color: colors.$black;
            }
        }
    }

    &.secondary {
        background-color: colors.$white;
        color: colors.$black;

        &:hover {
            background-color: colors.$black;
            color: colors.$white;
        }
    }
}

.cta-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem 1rem;
}

.cta-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    align-items: center;
}