/**
 * These are specifics to the youtube banner we use in the blog
 */

.youtube_placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 16/9;
    width: 100%;
    background-color: #333;

    div {
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 1.5rem;
        gap: 1.5rem;

        img {
            margin-inline: auto;
        }

        p {
            max-width: 30rem;
            text-align: center;
            margin-inline: auto;
        }

        button {
            max-width: fit-content;
            margin-inline: auto;
            padding: .5rem 1rem;
            border-radius: 9999px;
            background-color: #fff;
            border: 1px solid transparent;
            color: #000;
            cursor: pointer;

            &:hover {
                border: 1px solid #fff;
                color: #fff;
                background-color: #333;
            }
        }
    }
}