{% macro entry(page) %}
<entry xml:lang="{{ page.lang }}">
    <title>{{ page.title }}</title>
    <published>{{ page.date | date(format="%+") }}</published>
    <updated>{{ page.updated | default(value=page.date) | date(format="%+") }}</updated>
    <author>
      <name>
        {%- if page.authors -%}
          {{ page.authors[0] }}
        {%- elif page.taxonomies.author -%}
          {% for author in page.taxonomies.author %}
            {{ author | default(value=["unknown author"]) }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        {%- elif config.author -%}
          {{ config.author }}
        {%- else -%}
          Unknown
        {%- endif -%}
      </name>
    </author>
    <link rel="alternate" href="{{ page.permalink | safe }}" type="text/html"/>
    <id>{{ page.permalink | safe }}</id>
    <content type="html">{{ page.content }}</content>
</entry>
{% endmacro %}
