{% macro banner() %}
{% if config.extra.banner %}
<div id="information-banner">
    {% if config.extra.conference_state == "cfp" %}
    <p>We are happy to launch <a href="{{ config.extra.conference_website }}">The Matrix Conference</a> on {{
        config.extra.conference_dates }} in
        {{ config.extra.conference_location }}. <a href="{{ config.extra.conference_website }}">Learn more</a> about it,
        or <a href="{{ config.extra.conference_cfp }}">submit a
            proposal</a>!</p>
    {% elif config.extra.conference_state == "awaiting_schedule" %}
    <p>We are happy to launch <a href="{{ config.extra.conference_website }}">The Matrix Conference</a> on {{
        config.extra.conference_dates }} in
        {{ config.extra.conference_location }}. <a href="{{ config.extra.conference_website }}">Learn more</a> about it,
        <a href="{{ config.extra.conference_website }}/register/">buy a
            ticket</a>!
    </p>
    {% elif config.extra.conference_state == "scheduled" %}
    <p>We are happy to launch <a href="{{ config.extra.conference_website }}">The Matrix Conference</a> on {{
        config.extra.conference_dates }} in
        {{ config.extra.conference_location }}. <a href="{{ config.extra.conference_website }}">Learn more</a> about it,
        <a href="{{ config.extra.conference_website }}/register/">buy a
            ticket</a>, or <a href="{{ config.extra.conference_website }}/schedule/">check the schedule</a>!
    </p>
    {% elif config.extra.conference_state == "no_tickets" %}
    <p>We are happy to launch <a href="{{ config.extra.conference_website }}">The Matrix Conference</a> on {{
        config.extra.conference_dates }} in
        {{ config.extra.conference_location }}. <a href="{{ config.extra.conference_website }}">Learn more</a> about it,
        or <a href="{{ config.extra.conference_website }}/schedule/">check the schedule</a>!</p>
    {% elif config.extra.conference_state == "live" %}
    <p><a href="{{ config.extra.conference_website }}">The Matrix Conference</a> is Live.
        <a href="{{ config.extra.conference_website }}/watch/">Check the livestreams</a>!
    </p>
    {% elif config.extra.conference_state == "watch-recordings" %}
    <p><a href="{{ config.extra.conference_website }}">The Matrix Conference</a> is over and the
        <a href="{{ config.extra.conference_website }}/watch/">recordings</a> are here!
    </p>
    {% endif %}
    {% if config.extra.governing_board_elections %}
    <p>We are holding our Governing Board elections. Find all the information <a
            href="{{ config.extra.governing_board_elections_page }}">on the elections page.</a></p>
    {% endif %}
</div>
{% endif %}
{% endmacro %}
