{% macro platform_links(packages) %}
{% if packages.apple_app_store.app_id and packages.apple_app_store.org %}
<a href="https://apps.apple.com/app/{{ packages.apple_app_store.org }}/{{ packages.apple_app_store.app_id }}"
    class="platform-pill">App Store</a>
{% endif %}
{% if packages.google_play_store.app_id %}
<a href="https://play.google.com/store/apps/details?id={{ packages.google_play_store.app_id }}"
    class="platform-pill">Google Play</a>
{% endif %}
{% if packages.f_droid.app_id %}
<a href="https://f-droid.org/packages/{{ packages.f_droid.app_id }}" class="platform-pill">F-Droid</a>
{% endif %}
{% if packages.flathub.app_id %}
<a href="https://flathub.org/apps/details/{{ packages.flathub.app_id }}" class="platform-pill">Flathub</a>
{% endif %}
{% if packages.other_url %}
<a href="{{ packages.other_url }}" class="platform-pill">Web</a>
{% endif %}
{% if packages.macos_installer %}
<a href="{{ packages.macos_installer }}" class="platform-pill">macOS</a>
{% endif %}
{% if packages.windows_installer %}
<a href="{{ packages.windows_installer }}" class="platform-pill">Windows</a>
{% endif %}
{% endmacro platform_links %}

{% macro classes(client) %}
{% if client.packages.apple_app_store.app_id and client.packages.apple_app_store.org %}
platform-ios
{% endif %}
{% if client.packages.google_play_store.app_id %}
platform-android
{% endif %}
{% if client.packages.flathub.app_id %}
platform-linux
{% endif %}
{% if client.packages.other_url %}
platform-web
{% endif %}
{% if client.packages.windows_installer %}
platform-windows
{% endif %}
{% if client.packages.macos_installer %}
platform-macos
{% endif %}
{% endmacro classes %}
