{% macro navigation(active="Home") %}
<div class="mxnavbar w-nav">
    <div class="mxnavbar__container w-container">
        <a href="/" class="w-nav-brand{% if active == 'Home' %} w--current{% endif %}">
            <img src="/images/matrix-logo.svg" alt="" class="mxnavbar__logo">
        </a>
        <nav role="navigation" class="mxnavbar__navmenu w-nav-menu">
            <a href="/discover/" class="mxnavbar__navlink w-nav-link{% if active == 'Discover' %} w--current{% endif %}"
                style="max-width: 940px;">Discover</a>
            <a href="/docs/develop"
                class="mxnavbar__navlink w-nav-link{% if active == 'Develop' %} w--current{% endif %}"
                style="max-width: 940px;">Develop</a>
            <a href="/foundation/"
                class="mxnavbar__navlink w-nav-link{% if active == 'Foundation' %} w--current{% endif %}"
                style="max-width: 940px;">Foundation</a>
            <a href="/blog/" class="mxnavbar__navlink w-nav-link{% if active == 'Blog' %} w--current{% endif %}"
                style="max-width: 940px;">Blog</a>
            <a href="/faq/" class="mxnavbar__navlink w-nav-link{% if active == 'FAQs' %} w--current{% endif %}"
                style="max-width: 940px;">FAQs</a>
            <a href="/matrixlive/"
                class="mxnavbar__navlink w-nav-link{% if active == 'Matrix Live' %} w--current{% endif %}"
                style="max-width: 940px;">Matrix Live</a>
            <a href="https://shop.matrix.org"
                class="mxnavbar__navlink w-nav-link{% if active == 'Shop' %} w--current{% endif %}"
                style="max-width: 940px;">Shop</a>
            <a href="/docs/projects/try-matrix-now/" class="mxnavbar__navlink mxnavbar__navlink--primary w-nav-link"
                style="max-width: 940px;">Try Now</a>
        </nav>
        <div class="mxnavbar__menubutton w-nav-button">
            <div class="mxnavbar__icon w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>
{% endmacro navigation %}