{% macro candidate(candidate) %}
<details class="nominee">
    <summary>{{ candidate.name }} {% if candidate.pronouns %}({{ candidate.pronouns }}){% endif %}{% if candidate.project %} - {{
        candidate.project }}{% endif %}</summary>
    <h4>Biography</h4>
    {% if candidate.bio %}
    {{ candidate.bio | markdown() | safe }}
    {% else %}
    <p>(The candidate submitted no biography.)</p>
    {% endif %}
    <h4>Platform Statement</h4>
    {% if candidate.platform_statement %}
    {{ candidate.platform_statement | markdown() | safe }}
    {% if candidate.extended_platform %}
    <p><a href="{{ candidate.extended_platform | safe }}" target="_blank">Read this candidate's extended platform.</a></p>
    {% endif %}
    {% else %}
    <p>(The candidate submitted no platform statement.)</p>
    {% endif %}
</details>
{% endmacro %}
