{% macro individual(individual) %}
<details class="nominee">
    <summary>{{ individual.name }} ({{ individual.pronouns }})</summary>
    <ul>
        <li><a href="https://matrix.to/#/{{ individual.matrix_id }}">{{ individual.matrix_id }}</a></li>
        <li><a href="mailto:{{ individual.email }}">{{ individual.email }}</a></li>
        <li>{{ individual.bio }}</li>
        <li>{{ individual.platform_statement }}</li>
    </ul>
</details>
{% endmacro %}

{% macro project(representative) %}
<details class="nominee">
    <summary>{{ representative.name }} ({{ representative.pronouns }}) - {{ representative.project }}</summary>
    <ul>
        <li><a href="https://matrix.to/#/{{ representative.matrix_id }}">{{ representative.matrix_id }}</a></li>
        <li><a href="mailto:{{ representative.email }}">{{ representative.email }}</a></li>
        <li>{{ representative.bio }}</li>
        <li>{{ representative.platform_statement }}</li>
    </ul>
</details>
{% endmacro %}
