{% import "macros/clients.html" as clients %}
{% set clients = load_data(path="content/ecosystem/clients/clients.toml") %}

<div class="clients-card-deck">
    {% for name, client in clients %}
    <div class="client-card">
        <img src="thumbnails/{{ client.thumbnail }}" alt="{{ name }} Preview">
        <h3>{{ name }}</h3>
        <p>{{ client.summary | safe }}</p>
        <div class="platform-links">
            {{ clients::platform_links(packages=client.packages) }}
        </div>
    </div>
    {% endfor %}
</div>
