{% import "macros/clients.html" as clients %}
{% set clients = load_data(path="content/ecosystem/clients/clients.toml") %}
<div class="featured-clients">
    {% for name, client in clients %}
    {% if client.featured %}
    <div class="featured-client-card">
        <img src="thumbnails/{{ client.thumbnail }}" alt="{{ name }} Preview">
        <h3>{{ name }}</h3>
        <p>{{ client.summary | safe }}</p>
        <div class="platforms-links">
            {{ clients::platform_links(packages=client.packages) }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
