<div>
    {% set guardians_data = load_data(path="content/foundation/about/guardians.toml") %}
    {% for guardian in guardians_data.guardians %}
    <div class="guardian {% if loop.index % 2 != 0 %}reverse{% endif %}">
        <div class="guardian-details">
            <h4 class="guardian-name">{{ guardian.name }}</h4>
            <p>{{ guardian.bio }}</p>
        </div>
        <img src="/foundation/about/{{ guardian.picture }}" alt="Portrait of {{ guardian.name }}" />
    </div>
    {% endfor %}
</div>
