<div class="guardians">
    {% set guardians_data = load_data(path="content/about/guardians.toml") %}
    {% for guardian in guardians_data.guardians %}
        <div class="guardian">
            {% if loop.index %2 == 0 %}
            <div class="guardian-details">
                <h4 class="guardian-name">{{ guardian.name }}</h4>
                <p>{{ guardian.bio }}</p>
            </div>
            <img class="guardian-picture" src="/about/{{ guardian.picture }}" alt="Mugshot of {{ guardian.name }}" />
            {% else %}
            <img class="guardian-picture" src="/about/{{ guardian.picture }}" alt="Mugshot of {{ guardian.name }}" />
            <div class="guardian-details">
                <h4 class="guardian-name">{{ guardian.name }}</h4>
                <p>{{ guardian.bio }}</p>
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
