<div class="guardians">
    {% set guardians_data = load_data(path="content/about/guardians.toml") %}
    {% for guardian in guardians_data.guardians %}
        <div class="guardian">
            <img class="guardian-picture" src="/about/{{ guardian.picture }}" alt="Mugshot of {{ guardian.name }}" />
            <div class="guardian-details">
                <span class="guardian-name">{{ guardian.name }}</span>
                <p>{{ guardian.bio }}</p>
            </div>
        </div>
    {% endfor %}
</div>