<div class="support-us">
    <div class="donation-platform">
        <a href="https://www.patreon.com/matrixdotorg"><img src="/images/support/patreon.png"
                alt="Become a Patron" /></a>
    </div>
    <div class="donation-platform primary">
        <a href="https://donorbox.org/keep-matrix-exciting"><img src="/images/support/donorbox.svg"
                alt="Donate via Donorbox" /></a>
    </div>
    <div class="donation-platform">
        <a href="https://liberapay.com/matrixdotorg"><img src="/images/support/liberapay.png"
                alt="Donate via Liberapay" /></a>
    </div>
</div>
