<footer class="site-footer">
    <div class="internal-links">
        {% for link in navigation.footer_internal %}
        <a href="{{ link.href }}">{{ link.title }}</a>
        {% endfor %}
    </div>
    <div class="external-links">
        <div>
            {% for link in navigation.footer_external %}
            <a href="{{ link.href }}" rel="me"><img src="/assets/{{ link.image }}" alt="{{ link.alt }}"></a>
            {% endfor %}
        </div>
    </div>
    <p><a href="/legal/copyright-notice">Copyright Notice</a></p>
</footer>
