{% if page %}
{% set path = page.path %}
{% elif section %}
{% set path = section.path %}
{% endif %}
<div class="mxnavbar w-nav">
    <div class="mxnavbar__container w-container">
        <a href="/" class="w-nav-brand{% if path == '/' %} w--current{% endif %}">
            <img src="/images/matrix-logo.svg" alt="" class="mxnavbar__logo">
        </a>
        <nav role="navigation" class="mxnavbar__navmenu w-nav-menu">
            {% for link in navigation.header %}
            <a href="{{ link.href }}" class="mxnavbar__navlink w-nav-link
                {% if link.primary %}mxnavbar__navlink--primary{% endif %}
                {% if path is starting_with(link.href) %}w--current{% endif %}">
                {{ link.title }}
            </a>
            {% endfor %}
        </nav>
        <div class="mxnavbar__menubutton w-nav-button">
            <div class="mxnavbar__icon w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>
