

/*
    Ratings Stars
    (with as little code as possible)
    https://css-tricks.com/star-ratings/
*/
#rating-container {
  margin-top: 1.5em;
  position: fixed;
  right: 20px;
  bottom: -32px;
  z-index: 99;
}
#rating-container div {
  margin-top: 5px;
  text-align: center;
  background-color: white;
}
#rating-container-header span {
  border:black 1px solid;
  border-radius: 5px 5px 0px 0px;
  padding: 2px;
  font-weight: bold;
  cursor: pointer;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: x-large;
  cursor: pointer;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: black;
}