{% extends "skel.html" %}
{% block html_title %}Matrix.org - {{ section.title }}{% endblock html_title %}
{% block content -%}
<div class="blog content">
    {% for page in paginator.pages %}
    <article>
        <header>
            <h1><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h1>
            <span>
                {{ page.date | date(format="%d.%m.%Y %H:%M") }}
                {% if page.taxonomies.category -%}
                —
                <a href="/category/{{ page.taxonomies.category | first | slugify }}">
                    {{ page.taxonomies.category | first }}
                </a>
                {% endif -%}
                —
                <a href="/author/{{ page.taxonomies.author | default(value=['unknown author']) | first | slugify }}">
                    {{ page.taxonomies.author | default (value=["unknown author"]) | first }}
                </a>
            </span>
            {% if page.updated -%}
            <br>
            <small>Last update: {{ page.updated | date(format="%d.%m.%Y %H:%M") }}</small>
            {%- endif %}
        </header>
        <div class="post">
            {% if page.summary -%}
            {{ page.summary | safe }}
            <p><a href="{{ page.path | safe }}#continue-reading">Continue reading…</a></p>
            {% else -%}
            {{ page.content | safe }}
            {%- endif %}
        </div>
    </article>
    {% endfor %}
    {% include "includes/pagination.html" %}
</div>
{%- endblock content %}
