{% extends "section.html" %}
{% block content -%}
<div class="content">
    {% for page in paginator.pages %}
    <article class="post">
        <header>
            <h1><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h1>
            <span>
                {{ page.date | date(format="%d.%m.%Y %H:%M") }}
                {% if page.taxonomies.category -%}
                —
                <a href="/category/{{ page.taxonomies.category | first | slugify }}">
                    {{ page.taxonomies.category | first }}
                </a>
                {% endif -%}
                —
                {% for author in page.taxonomies.author %}
                <a href="/author/{{ author | default(value=['unknown author']) | slugify }}">
                    {{ author | default(value=["unknown author"]) }}
                </a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </span>
            {% if page.updated -%}
            <br>
            <small>Last update: {{ page.updated | date(format="%d.%m.%Y %H:%M") }}</small>
            {%- endif %}
        </header>
        <div>
            {% if page.summary -%}
            {{ page.summary | safe }}
            <p><a href="{{ page.path | safe }}#continue-reading">Continue reading…</a></p>
            {% else -%}
            {{ page.content | safe }}
            {%- endif %}
        </div>
    </article>
    {% endfor %}
    {% include "includes/pagination.html" %}
</div>
{%- endblock content %}
