{% extends "skel.html" %}
{% block html_title %}Matrix.org - {{ section.title }}{% endblock html_title %}
{% block content %}
<main id="section">
    {% for page in paginator.pages %}
    <article class="content">
        <header>
            <h1><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h1>
            <span>{{ page.date | date(format="%d.%m.%Y %H:%M") }}{% if page.taxonomies.categories %} — <a
                    href="/categories/{{ page.taxonomies.categories | first | slugify }}">{{
                    page.taxonomies.categories
                    | first }}</a>
                {% endif %} — <a href="/authors/{{ page.taxonomies.authors | default (value=['unknown author']) | first |
                            slugify }}">{{ page.taxonomies.authors | default (value=["unknown author"]) | first }}</a>
            </span>
            {% if page.updated %}
            <br><small>Last update: {{ page.updated | date(format="%d.%m.%Y %H:%M") }}</small>
            {% endif %}
        </header>
        <div class="post">
            {% if page.summary %}
            {{ page.summary | markdown | safe }}
            {% else %}
            {{ page.content | markdown | safe }}
            {% endif %}
        </div>
        <div class="article_linebreak"></div>
    </article>
    {% endfor %}
    <nav class="pagination content">
        {% if paginator.previous %}
        <a class="w-button button-dark" href="{{ paginator.previous }}">‹ Previous</a>
        {% else %}
        <div></div>
        {% endif %}
        {% if paginator.next %}
        <a class="w-button button-dark" href="{{ paginator.next }}">Next ›</a>
        {% else %}
        <div></div>
        {% endif %}
    </nav>
</main>
{% endblock content %}