{% extends "page.html" %}
{% block content %}
{% set clients = load_data(path="content/ecosystem/clients/clients.toml") %}
<div class="content">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <p>{{ page.content | safe }}</p>
    <!-- Showcase -->
    <div class="featured-clients">
        {% for name, client in clients %}
        {% if client.featured %}
        <div class="featured-client-card">
            <img src="thumbnails/{{ client.thumbnail }}" alt="{{ name }} Preview">
            <h3>{{ name }}</h3>
            <p>{{ client.summary | safe }}</p>
            <div class="stores-links">
                {% if client.packages.apple_app_store.app_id and client.packages.apple_app_store.org %}
                <a href="https://apps.apple.com/app/{{ client.packages.apple_app_store.org }}/{{ client.packages.apple_app_store.app_id }}">App Store</a>
                {% endif %}
                {% if client.packages.google_play_store.app_id %}
                <a href="https://play.google.com/store/apps/details?id={{ client.packages.google_play_store.app_id }}">Google Play</a>
                {% endif %}
                {% if client.packages.f_droid.app_id %}
                <a href="https://f-droid.org/packages/{{ client.packages.f_droid.app_id }}">F-Droid</a>
                {% endif %}
                {% if client.packages.flathub.app_id %}
                <a href="https://flathub.org/apps/details/{{ client.packages.flathub.app_id }}">Flathub</a>
                {% endif %}
                {% if client.packages.other_url %}
                <a href="{{ client.packages.other_url }}">Web</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <h2>All known clients</h2>
    <p>
        The Matrix ecosystem is vibrant: whatever platform you use, there are
        good chances someone has developed a client for it. Here we list all the
        clients the Foundation is aware of, with a maturity score and a list of
        important features they support or not to help you pick the best for
        you.
    </p>
</div>
<div class="all-clients">
    <!-- Table -->
    <div class="clients-table">
        <strong>Name</strong>
        <strong>Maintainer</strong>
        <strong>Platforms</strong>
        <strong>Last Release</strong>
        <strong>Maturity</strong>
        <strong>License</strong>
        <strong>E2EE</strong>
        <strong>Spaces</strong>
        <strong>VoIP (1:1)</strong>
        <strong>VoIP (Jitsi)</strong>
        <strong>Widgets</strong>
        <strong>Threads</strong>
        <strong>SSO</strong>
        <strong>Multi-account</strong>
        <strong>Multi language</strong>

        {% for name, client in clients %}
        <!-- new row -->
        <span>{{ name }}</span>
        <span>{{ client.maintainer }}</span>
        <span>
            {% if client.packages.apple_app_store.app_id and client.packages.apple_app_store.org %}
            <a href="https://apps.apple.com/app/{{ client.packages.apple_app_store.org }}/{{ client.packages.apple_app_store.app_id }}">App Store</a>
            {% endif %}
            {% if client.packages.google_play_store.app_id %}
            <a href="https://play.google.com/store/apps/details?id={{ client.packages.google_play_store.app_id }}">Google Play</a>
            {% endif %}
            {% if client.packages.f_droid.app_id %}
            <a href="https://f-droid.org/packages/{{ client.packages.f_droid.app_id }}">F-Droid</a>
            {% endif %}
            {% if client.packages.flathub.app_id %}
            <a href="https://flathub.org/apps/details/{{ client.packages.flathub.app_id }}">Flathub</a>
            {% endif %}
            {% if client.packages.other_url %}
            <a href="{{ client.packages.other_url }}">Web</a>
            {% endif %}
        </span>
        <span>{{ client.last_release | date(format="%Y-%m-%d") }}</span>
        <span>{{ client.maturity }}</span>
        <span>{{ client.license }}</span>
        <span class="feature">
            {% if client.features.e2ee %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.spaces %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.voip_1to1 %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.voip_jitsi %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.widgets %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.threads %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.sso %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.multi_account %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        <span class="feature">
            {% if client.features.multi_language %}
            <span class="checkmark">✓</span>
            {% else %}
            <span class="cross">✗</span>
            {% endif %}
        </span>
        {% endfor %}
    </div>
</div>
{% endblock content %}
