{% extends "page.html" %}
{% import "macros/clients.html" as clients %}
{% block content %}
{% set clients = load_data(path="content/ecosystem/clients/clients.toml") %}
<div class="page-header">
    <div class="bg" src="/assets/page-header-bg.svg"></div>
    <div class="hero-block">
        <h1>Clients</h1>
        <p>Clients are needed to chat using Matrix. Here is a selection of the most mature ones you can safely use.</p>
    </div>
</div>

<div class="content">
    <section>
        <header class="hero-header">
            <h1>Featured clients</h1>
            <p>The Matrix ecosystem is vibrant: whatever platform you use, there are good chances someone has developed
                a
                client for it.</p>
        </header>
        {{ page.content | safe }}
    </section>


    <section>
        <header class="hero-header">
            <h1>All known clients</h1>
            <p>Here we list all the clients the Foundation is aware of, with a maturity score and a list of important
                features they support or not to help you pick the best for you.</p>
        </header>
        <div class="all-clients">
            <div class="clients-table">
                <strong>Name</strong>
                <strong>Maintainer</strong>
                <strong>Platforms</strong>
                <strong>Last Release</strong>
                <strong>Maturity</strong>
                <strong>License</strong>
                <strong>E2EE</strong>
                <strong>Spaces</strong>
                <strong>VoIP (1:1)</strong>
                <strong>VoIP (Jitsi)</strong>
                <strong>Widgets</strong>
                <strong>Threads</strong>
                <strong>SSO</strong>
                <strong>Multi-account</strong>
                <strong>Multi language</strong>

                {% for name, client in clients %}
                <!-- new row -->
                <span>{{ name }}</span>
                <span>{{ client.maintainer }}</span>
                <span>
                    {{ clients::platform_links(packages=client.packages) }}
                </span>
                <span>{{ client.last_release | date(format="%Y-%m-%d") }}</span>
                <span>{{ client.maturity }}</span>
                <span>{{ client.license }}</span>
                {% for feature in [
                client.features.e2ee,
                client.features.spaces,
                client.features.voip_1to1,
                client.features.voip_jitsi,
                client.features.widgets,
                client.features.threads,
                client.features.sso,
                client.features.multi_account,
                client.features.multi_language,
                ] %}
                <span class="feature">
                    {% if feature %}
                    <span class="checkmark">✓</span>
                    {% else %}
                    <span class="cross">✗</span>
                    {% endif %}
                </span>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

</div>
{% endblock content %}