{% extends "skel.html" %}
{% block head_extra %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='atom.xml', trailing_slash=false)}}">
{% endblock head_extra %}
{% block content %}
{% set sponsors_data = load_data(path="content/sponsors.toml") %}
<div id="frontpage">
    <div id="hero" class="section">
        <div class="hero_content">
            <img src="images/matrix-logo-white.svg" alt="The Matrix Logo" />
            <h2>An open network for secure, decentralised communication</h2>
        </div>
        <div id="hero_curve1"></div>
        <div id="hero_curve2"></div>
        <div id="hero_curve3"></div>
        <div id="hero_curve4"></div>
    </div>
    <div id="use-case-personal" class="section">
        <h2>Chat with friends, family, communities and co-workers</h2>
        <img src="assets/frontpage/personal-graphic.svg" alt="An artist view of a chat timeline." />
        <div id="personal_bottom"></div>
    </div>
    <div id="use-case-community" class="section">
        <h2>A cozy, safe, supercharged place for your community</h2>
        <div class="call-to-action">Reclaim your Space</div>
        <img src="assets/frontpage/community-graphic.svg" alt="An artist view of a chat community." />
    </div>
    <div id="complex_apps" class="section">
        <h2>Build advanced, rich communication applications on top of Matrix.</h2>
        <img src="https://via.placeholder.com/536x320.png" alt="A video showcasing Element Call and Third Room" />
    </div>
    <div id="buildonmatrix" class="section">
        <img class="logo" src="images/matrix-favicon.svg" alt="The Matrix Logo" />
        <img id="bridge_visual" src="/assets/frontpage/bridge-visual.svg" alt="A conceptual representation of a bridged system" />
        <img id="homeserver" src="/assets/frontpage/homeserver.svg" alt="A conceptual representation of a homeserver" />
        <img id="federation_visual" src="/assets/frontpage/federation-visual.svg" alt="A conceptual representation of the federation between homeservers" />
        <img id="federation_visual_mobile" src="/assets/frontpage/federation-visual-mobile.svg" alt="A conceptual representation of the federation between homeservers" />
        <h2>Build on Matrix</h2>
        <p>
            Matrix is a rich ecosystem of clients, servers, bots and application
            services. Find out more in our developer documentation.
        </p>
        <div class="call-to-action">Browse documentation </div>
    </div>
    <div id="sponsors" class="section">
        <h2>Thank you to our incredible sponsors</h2>
        <div id="sponsors_grid">
            {% for sponsor in sponsors_data.sponsors %}
            <div class="sponsor_card">
                <img src="/images/sponsors/{{ sponsor.image }}" />
                <div class="sponsor_text">
                    <h3>{{ sponsor.name }}</h3>
                    <p>{{ sponsor.description }}</p>
                    <a href="{{ sponsor.website }}">Learn more</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <p>
            Matrix is supported by organisations and individuals like you who
            care about the health of the ecosystem. Please consider supporting
            us financially.
        </p>
        <div class="call-to-action">Support Matrix</div>
    </div>
</div>
{% endblock content %}
