{% extends "page.html" %}
{% import "macros/banner.html" as banner %}
{% block head_extra %}
<meta name="description" content="{{ page.extra.summary }}">
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let mostPopular = document.getElementById("most-popular");
        let tierList = mostPopular.parentElement;
        let cardWidth = mostPopular.getBoundingClientRect().width;
        let scrollto = mostPopular.offsetLeft - 16 - (tierList.clientWidth - cardWidth) / 2;
        tierList.scrollLeft = scrollto;
    });
</script>
{% endblock head_extra %}
{% block content %}
{% set supporters = load_data(path="content/foundation/members/members.toml") %}
<div class="page-header support">
    <div class="hero-block">
        <h1>{{ page.title }}</h1>
        <p>{{ page.extra.summary }}</p>
    </div>
</div>

<div class="membership">
    <div class="membership-tiers">
        <h2>Become a member</h2>
        <div class="tiers-row">
            <div class="tier-card">
                <h3>Individual</h3>
                <div class="pricing">$60 / year</div>
                <ul>
                    <li>Free ticket to <a
                        href="https://conference.matrix.org">The Matrix
                        Conference</a></li>
                    <li>Free <a href="/homeserver/pricing">premium account</a> on Matrix.org</li>
                </ul>
            </div>
            <div id="most-popular" class="tier-card">
                <h3>Silver</h3>
                <div class="pricing">$2k - 80k / year</div>
                <ul>
                    <li>Free ticket to <a
                        href="https://conference.matrix.org">The Matrix
                        Conference</a></li>
                    <li>Logo on the members page</li>
                    <li>Medium discount on Matrix conference sponsorship</li>
                    <li>Ability to post on the Matrix Job Board</li>
                </ul>
            </div>
            <div class="tier-card">
                <h3>Gold</h3>
                <div class="pricing">$200k / year</div>
                <ul>
                    <li>Everything from Silver</li>
                    <li>Bigger logo on the members page</li>
                    <li>A success story on the blog each year</li>
                </ul>
            </div>
            <div class="tier-card">
                <h3>Platinum</h3>
                <div class="pricing">$500k / year</div>
                <ul>
                    <li>Everything from Gold</li>
                    <li>Logo on the frontpage of matrix.org</li>
                    <li>Press release on membership</li>
                    <li>Biggest discount on Matrix conference sponsorship</li>
                    <li>A dedicated <a
                        href="https://www.youtube.com/@Matrixdotorg/videos">Matrix
                        Live</a> episode each year</li>
                </ul>
            </div>
        </div>
        <div class="cta-row">
            <a href="https://donorbox.org/membership-303" class="call-to-action secondary">Individuals membership</a>
            <a href="https://cryptpad.fr/form/#/2/form/view/j1+wOJVZWyrDKvGP-G1r-zEOI3a52j5Y22brxhrdcmM/"
                class="call-to-action">Organisations membership</a>
        </div>
    </div>

    <div id="supporters">
        <div class="supporters-section" id="platinum-supporters">
            <h2>Platinum Members</h2>
            <div class="cards">
                {% for supporter in supporters.platinum %}
                <a href="{{ supporter.website }}" target="_blank" class="supporters-card">
                    <img src="/foundation/membership/{{ supporter.logo }}" alt="{{ supporter.name }}'s logo">
                    <span>{{ supporter.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="supporters-section" id="gold-supporters">
            <h2>Gold Members</h2>
            <div class="cards">
                {% for supporter in supporters.gold %}
                <a href="{{ supporter.website }}" target="_blank" class="supporters-card">
                    <img src="/foundation/membership/{{ supporter.logo }}" alt="{{ supporter.name }}'s logo">
                    <span>{{ supporter.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="supporters-section" id="silver-supporters">
            <h2>Silver Members</h2>
            <div class="cards">
                {% for supporter in supporters.silver %}
                <a href="{{ supporter.website }}" target="_blank" class="supporters-card">
                    <img src="/foundation/membership/{{ supporter.logo }}" alt="{{ supporter.name }}'s logo">
                    <span>{{ supporter.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="supporters-section" id="ecosystem-supporters">
            <h2>Ecosystem Members</h2>
            <div class="cards">
                {% for supporter in supporters.ecosystem %}
                <a href="{{ supporter.website }}" target="_blank" class="supporters-card">
                    <img src="/foundation/membership/{{ supporter.logo }}" alt="{{ supporter.name }}'s logo">
                    <span>{{ supporter.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="supporters-section" id="associate-supporters">
            <h2>Associate Members</h2>
            <div class="cards">
                {% for supporter in supporters.associate %}
                <a href="{{ supporter.website }}" class="supporters-card">
                    <img src="/foundation/membership/{{ supporter.logo }}" alt="{{ supporter.name }}'s logo">
                    <span>{{ supporter.name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
