{% extends "index.html" %}
{% block content %}
{% set matrix_live = load_data(path="partials/podcasts/matrix_live.md") %}
{% set otwsu = load_data(path="partials/podcasts/otwsu.md") %}
<div>
    <header>
    </header>
    <div class="podcasts-content">
        <div class="podcasts-column">
            {{ matrix_live | markdown | safe }}
            <div class="badges">
                <a href="https://podcasts.apple.com/gb/podcast/matrix-live/id1498631706"><img src="/assets/apple_podcasts_badge.svg" alt="Listen on Apple Podcasts" /></a>
                <a href="https://open.spotify.com/show/1SFrZPISzYs0elxlZUAvZ5?si=Xyns2Pl0RBuGBjuzH4yxsQ"><img src="/assets/spotify_podcasts_badge.svg" alt="Listen on Spotify" /></a>
                <a href="https://pca.st/uv1qytez"><img src="/assets/pocketcasts_badge.svg" alt="Listen on Pocket Casts" /></a>
            </div>
        </div>
        <div class="podcasts-column">
            {{ otwsu | markdown | safe }}
        </div>
    </div>
</div>
{% endblock content %}
