{% extends "index.html" %}
{% block content %}
{% set matrix_live = load_data(path="partials/podcasts/matrix_live.md") %}
{% set otwsu = load_data(path="partials/podcasts/open_tech_will_save_us.md") %}
<main>
    <article class="content">
        <header>
        </header>
        <main>
            <div class="podcasts-grid">
                <div>
                    {{ matrix_live | markdown | safe }}
                </div>
                <div>
                    {{ otwsu | markdown | safe }}
                </div>
            </div>
        </main>
    </article>
</main>
{% endblock content %}
