{% extends "section.html" %}
{% import "macros/public_instances.html" as instanceutils %}
{% block head_extra %}
<meta name="description" content="{{ section.extra.summary }}">
<!-- <script type="module" src="/js/public-instances.js"></script> -->
{% endblock head_extra %}
{% block content %}
<div class="page-header">
    <div class="hero-block">
        <h1>{{ section.title }}</h1>
        <p>{{ section.extra.summary }}</p>
    </div>
</div>

<div class="content public-instances">

    {% set instances = section.pages %}
    {% set software = [] %}
    {% set locations = [] %}
    {% for instance in instances %}
    {% set_global software = software | concat(with=instance.extra.software ~ " " ~ instance.extra.version) %}
    {% set_global locations = locations | concat(with=instance.extra.location) %}
    {% endfor %}
    {% set_global software = software | unique | sort %}
    {% set_global locations = locations | unique | sort %}

    <div class="total-and-filters">
        <div class="total">All servers ({{ section.pages | length }})</div>
        <div class="filters">
            <div class="filter-wrap">
                <button id="filter-structure" class="filter">
                    Structure
                    <div class="divider"></div>
                    <img src="/assets/down-arrow.svg" alt="Downward facing arrow">
                </button>
                <div id="filter-structure-menu" class="filter-menu">
                    <div class="filter-option">
                        <input type="checkbox" id="structure-individual" checked>
                        <label for="structure-individual">Individual administrator</label>
                    </div>
                    <div class="filter-option">
                        <input type="checkbox" checked id="structure-nonprofit">
                        <label for="structure-nonprofit">Non-profit</label>
                    </div>
                    <div class="filter-option">
                        <input type="checkbox" id="structure-paid" checked>
                        <label for="structure-paid">Paid with support</label>
                    </div>
                    <div class="reset-links">Select <button>all</button> - <button>none</button></div>
                </div>
            </div>
            <div class="filter-wrap">
                <button id="filter-signup" class="filter">
                    Registration
                    <div class="divider"></div>
                    <img src="/assets/down-arrow.svg" alt="Downward facing arrow">
                </button>
                <div id="filter-signup-menu" class="filter-menu">
                    <div class="filter-option">
                        <input type="checkbox" checked id="signup-open">
                        <label for="signup-open">Unfiltered registrations</label>
                    </div>
                    <div class="filter-option">
                        <input type="checkbox" checked id="signup-conditional">
                        <label for="signup-confitional">Conditional</label>
                    </div>
                    <div class="reset-links">Select <button>all</button> - <button>none</button></div>
                </div>
            </div>
            <div class="filter-wrap">
                <button id="filter-location" class="filter">
                    Location
                    <div class="divider"></div>
                    <img src="/assets/down-arrow.svg" alt="Downward facing arrow">
                </button>
                <div id="filter-location-menu" class="filter-menu">
                    {% for location in locations %}
                    <div class="filter-option">
                        <input type="checkbox" checked id="location-{{ location | lower }}">
                        <label for="location-{{ location | lower }}">{{ instanceutils::country_name(code=location) }}</label>
                    </div>
                    {% endfor %}
                    <div class="reset-links">Select <button>all</button> - <button>none</button></div>
                </div>
            </div>
            <div class="filter-wrap">
                <button id="filter-software" class="filter">
                    Software
                    <div class="divider"></div>
                    <img src="/assets/down-arrow.svg" alt="Downward facing arrow">
                </button>
                <div id="filter-software-menu" class="filter-menu">
                    {% for software_version in software %}
                    <div class="filter-option">
                        <input type="checkbox" id="software-{{ software_version | slugify }}" checked>
                        <label for="software-{{ software_version | slugify }}">{{ software_version }}</label>
                    </div>
                    {% endfor %}
                    <div class="reset-links">Select <button>all</button> - <button>none</button></div>
                </div>
            </div>
        </div>
    </div>

    <div id="filters-overlay"></div>
    <div id="all-instances" class="projects-card-deck">
        {% for instance in instances %}
        <div>
        <a href="{{ instance.path }}" class="project-card instance {{ instanceutils::classes(instance=instance) }}">
            <div class="image-container">
                {% set logo_path = instance.relative_path | trim_end_matches(pat=".md") %}
                {% set logo_path = "/" ~ logo_path~".svg" %}
                {% set file_exists = load_data(path="/"~logo_path, required=false) %}
                {% if file_exists %}
                <img src="/{{ instance.relative_path | trim_end_matches(pat=".md") }}.svg" alt="{{ instance.title }}">
                {% else %}
                <div class="avatar">
                    {{ instance.title | truncate(length=1, end="") }}
                </div>
                {% endif %}
            </div>
            <h3>{{ instance.title }}</h3>
            <p>{{ instance.content | safe }}</p>
            <ul class="details">
                <li>{{ instanceutils::country_name(code=instance.extra.location) }}</li>
                <li>{{ instanceutils::registration_label(type=instance.extra.registration) }}</li>
                <li>{{ instanceutils::structure_label(type=instance.extra.structure) }}</li>
                <li>{{ instance.extra.software | capitalize }} {{ instance.extra.version }}</li>
            </ul>
        </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
