{% extends "skel.html" %}
{% block html_title %}Matrix.org - {{ section.title }}{% endblock html_title %}
{% block head_extra %}
{% block scripts %}{% endblock scripts %}
{% if section.extra.meta_description %}
<meta name="description" content="{{ section.extra.meta_description }}">
{% endif %}
{% endblock head_extea %}
{% block content %}
<div class="content">
    <header>
        <h1>{{ section.title }}</h1>
    </header>
    <div>
        {{ section.content | safe }}
    </div>
</div>
{% endblock content %}
