{% import "macros/macros.html" as macros %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="twitter:widgets:csp" content="on" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="twitter:site" content="@matrixdotorg" />
    <meta name="twitter:creator" content="@matrixdotorg" />

    <title>
        {%- if config.mode == "serve" -%}&#x1F6E0;&#xFE0F; {% endif -%}
        {%- block html_title %}Matrix.org{% endblock html_title -%}
    </title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/style.css" />

    {% block head_extra %}{% endblock head_extra -%}
</head>

<body>
    {% set navigation = load_data(path="navigation.toml") %}
    {% include "includes/header.html" %}

    <main>
        {% block content %}{% endblock content %}
    </main>

    {% include "includes/footer.html" %}
</body>

</html>
