{% extends "page.html" %}
{% import "macros/banner.html" as banner %}
{% block head_extra %}
<meta name="description" content="{{ page.extra.summary }}">
{% endblock head_extra %}
{% block content %}

<div class="page-header support">
    <div class="hero-block">
        <h1>{{ page.title }}</h1>
        <p>{{ page.extra.summary }}</p>
    </div>
</div>

<div class="support main">
    <div id="membership">
        <div class="content">
            <h2>Join as a member</h2>
            <div>
                <p>
                    If you have a stake in Matrix, become a member of the
                    Foundation to support it in the most sustainable way. Being
                    a member also lets you get involved in the open governance
                    of the Foundation by voting and running for the <a
                        href="/foundation/governing-board/">Governing Board</a>
                    to have a say in the direction of the project.
                </p>
                <p>
                    An organizational membership offers additional perks, such as a
                    logo on our website and discounts when organizing our <a
                        href="https://conference.matrix.org"
                    >annual conference</a>.
                </p>
            </div>
            <a href="/foundation/membership" class="call-to-action">Learn more</a>
        </div>
    </div>

    <div id="donation">
        <div class="content">
            <h2>Make a donation</h2>
            <div>
                <p>
                    One of the most efficient ways to help improve Matrix and make
                    it reach the masses is to make a donation. We provide a <a
                        href="/foundation/about">neutral
                        ground</a> for the ecosystem to gather and discuss the specification,
                    we <a href="/homeserver">provide a server</a> as an easy
                    onboarding experience to the federation, and we spread the
                    word at events and conferences.
                </p>
                <p>
                    If you believe in what we do and want to support us in our
                    mission, a donation, even small, can go a long way.
                </p>
            </div>
            <a class="call-to-action" href="https://donorbox.org/keep-matrix-exciting">
                Donate with Donorbox
            </a>
        </div>
    </div>

    <div id="working-group">
        <div class="content">
            <h2>Join a working group</h2>
            <div>
                <p>
                    Working groups are where you can help get things done. Having a
                    direction is great, having hands to implement it is even better.
                </p>
                <p>
                    Whether you like to get your hands dirty in code, you like to
                    organize events, or you like to network, we're always looking
                    for more friends to help us move Matrix where it ought to be.
                    Everywhere!
                </p>
                <p>
                    Joining a working group is easy: Just pick one and join
                    their chat room!
                </p>
            </div>
            <a href="/foundation/working-groups/" class="call-to-action">Get things done</a>
        </div>
    </div>

    <div id="merch">
        <div class="content">
            <h2>Wear Matrix merch</h2>
            <div>
                <p>
                    To give Matrix a go, your friends needs to know it exists. You
                    can help us spread the word about Matrix by proudly wearing a
                    Matrix logo on your T-shirt, hoodie, or by placing stickers on
                    your laptop.
                </p>
                <p>
                    Note that the Foundation doesn't make significant profit from
                    merch sales. If your primary goal is to support our work,
                    donations have a much higher impact.
                </p>
            </div>
            <a href="https://shop.matrix.org" class="call-to-action">Visit our shop</a>
        </div>
    </div>
</div>
{% endblock content %}
