{% extends "skel.html" %}
{% block head_extra %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ term.permalink | safe }}atom.xml">
{% endblock head_extra %}
{% block html_title %}Matrix.org - {{ term.name }}{% endblock html_title %}
{% block content %}
<main id="taxonomy-single">
    <div class="content">
        <header>
            <h1>{{ term.name }}</h1>
            {{ term.pages | length }} posts tagged with "{{ term.name }}" <a href="/{{ taxonomy.name }}">(See all {{
                taxonomy.name | capitalize
                }})</a>
            {% if taxonomy.feed %}
            <h2>
                <small><a href="{{ term.permalink | safe }}atom.xml">Atom Feed</a></small>
            </h2>
            {% endif %}
        </header>

        {% for page in paginator.pages %}
        <article>
            <header>
                <h2><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h2>
                <span>{{ page.date | date(format="%d.%m.%Y %H:%M") }}{% if page.taxonomies.category %} — <a
                        href="/category/{{ page.taxonomies.category | first | slugify }}">{{
                        page.taxonomies.category
                        | first }}</a>
                    {% endif %} — <a href="/author/{{ page.taxonomies.author | default (value=['unknown author']) | first |
                                    slugify }}">{{ page.taxonomies.author | default (value=["unknown author"]) | first
                        }}</a>
                </span>
                {% if page.updated %}
                <br><small>Last update: {{ page.updated | date(format="%d.%m.%Y %H:%M") }}</small>
                {% endif %}
            </header>
            <div class="post">
                {% if page.summary %}
                {{ page.summary | markdown | safe }}
                {% else %}
                {{ page.content | markdown | safe }}
                {% endif %}
            </div>
        </article>
        {% endfor %}
        {% include "includes/pagination.html" %}
    </div>
</main>
{% endblock content %}
