{% extends "skel.html" %}
{% block html_title %}Matrix.org - {{ taxonomy.name | capitalize }}{% endblock html_title %}
{% block content %}
<div id="taxonomy-list">
    <article class="content">
        <header>
            <h1>{{ taxonomy.name | capitalize }}</h1>
        </header>
        <div class="grid">
            {% for term in terms %}
            <div class="grid-container-third">
                <h3>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                    ({{ term.pages | length }})
                </h3>
                {% if taxonomy.feed %}
                <h4>
                    <small><a href="{{ term.permalink | safe }}atom.xml"><img width="10px" height="10px" src="/assets/rss.svg" alt="Atom"> Category Atom Feed</a></small>
                </h4>
                {% endif %}
                <ul>
                    {% for page in term.pages | slice(end=4) %}
                    <li>
                        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                    {% if term.pages | length > 4 %}
                    <li>
                        <a href="{{ term.permalink | safe }}">... all "{{ term.name }}" posts</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </article>
</div>
{% endblock content %}
