{% extends "skel.html" %}
{% block head_extra %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ term.permalink | safe }}atom.xml">
{% endblock head_extra %}
{% block html_title %}Matrix.org - {{ term.name }}{% endblock html_title %}
{% block content %}

{% if taxonomy.name == "author" %}
    {% set authors = load_data(path="content/authors.toml") %}

    {% set_global merged_pages = term.pages %}
    {% for key, author in authors.author %}
        {% if author.name == term.name or term.name in author.aliases %}
            {% set author_term = get_taxonomy_term(kind="author", term=author.name) %}
            {% set_global merged_pages = merged_pages | concat(with=author_term.pages) %}
            {% for alias in author.aliases %}
                {% set alias_term = get_taxonomy_term(kind="author", term=alias, required=false) %}
                {% if alias_term %}
                    {% set_global merged_pages = merged_pages | concat(with=alias_term.pages) %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% set_global merged_pages = merged_pages | unique(attribute="title") | sort(attribute="date") | reverse %}
{% else %}
    {% set_global merged_pages = term.pages %}
{% endif %}

<div id="taxonomy-single">
    <div class="content">
        <header>
            <h1>{{ term.name }}</h1>
            {% if taxonomy.name == "category" %}
                {{ merged_pages | length }} posts tagged with "{{ term.name }}" <a href="/{{ taxonomy.name }}">(See all {{
                    "categories" | capitalize
                    }})</a>
            {% else %}
                {{ merged_pages | length }} posts tagged with "{{ term.name }}" <a href="/{{ taxonomy.name }}">(See all {{
                    taxonomy.name | capitalize
                    }}s)</a>
            {% endif %}
            {% if taxonomy.feed %}
            <h2>
                <small><a href="{{ term.permalink | safe }}atom.xml">Atom Feed</a></small>
            </h2>
            {% endif %}

            {% if taxonomy.name == "author" %}
                {# Find the description of the given term.name author and display it as a div of safe markdown #}
                {% for key, author in authors.author %}
                    {% if author.name == term.name or term.name in author.aliases %}
                        <div class="author-description">
                            {{ author.description | markdown | safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </header>

        {% for page in merged_pages %}
        <article class="post">
            <header>
                <h2><a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a></h2>
                <span>
                    {{ page.date | date(format="%d.%m.%Y %H:%M") }}
                    {% if page.taxonomies.category -%}
                    —
                    <a href="/category/{{ page.taxonomies.category | first | slugify }}">
                        {{ page.taxonomies.category | first }}
                    </a>
                    {% endif -%}
                    —
                    <a
                        href="/author/{{ page.taxonomies.author | default(value=['unknown author']) | first | slugify }}">
                        {{ page.taxonomies.author | default (value=["unknown author"]) | first }}
                    </a>
                </span>
                {% if page.updated -%}
                <br>
                <small>Last update: {{ page.updated | date(format="%d.%m.%Y %H:%M") }}</small>
                {%- endif %}
            </header>
            <div>
                {% if page.summary %}
                {{ page.summary | safe }}
                <p><a href="{{ page.path | safe }}#continue-reading">Continue reading…</a></p>
                {% else %}
                {{ page.content | safe }}
                {% endif %}
            </div>
        </article>
        {% endfor %}
        {% include "includes/pagination.html" %}
    </div>
</div>
{% endblock content %}
