$black: #000;
$white: #fff;
$chip-grey: #e9e9e9;
$footer-grey: #999;
$submenu-border-color: #f4f4f4;

// Links
$link-blue: #0098d4;
$link-hover-blue: #0082f3;

// Stable Maturity Badge Colors
$stable-badge-bg: #dff6d5;
$stable-badge-border: #245c0c;
$stable-badge-text: #245c0c;

// Beta Maturity Badge Colors
$beta-badge-bg: #f6e7d5;
$beta-badge-border: #6f420f;
$beta-badge-text: #6f420f;

// Alpha Maturity Badge Colors
$alpha-badge-bg: #f6d5d5;
$alpha-badge-border: #8b1212;
$alpha-badge-text: #8b1212;

// Obsolete Maturity Badge Colors
$obsolete-badge-bg: #e6e6e6;
$obsolete-badge-border: #4a4a4a;
$obsolete-badge-text: #4a4a4a;

// Codeblock Color
$codeblock: #f54029;