$black: #000;
$white: #fff;
$chipGrey: #e9e9e9;
$footerGrey: #999999;
$submenuBorderColor: #f4f4f4;

// Links
$linkBlue: #0098d4;
$linkHoverBlue: #0082f3;

// Stable Maturity Badge Colors
$stableBadgeBG: #dff6d5;
$stableBadgeBorder: #245c0c;
$stableBadgeText: #245c0c;

// Beta Maturity Badge Colors
$betaBadgeBG: #f6e7d5;
$betaBadgeBorder: #6f420f;
$betaBadgeText: #6f420f;

// Alpha Maturity Badge Colors
$alphaBadgeBG: #f6d5d5;
$alphaBadgeBorder: #8b1212;
$alphaBadgeText: #8b1212;

// Obsolete Maturity Badge Colors
$obsoleteBadgeBG: #e6e6e6;
$obsoleteBadgeBorder: #4a4a4a;
$obsoleteBadgeText: #4a4a4a;

// Codeblock Color
$codeblock: #f54029;