{% extends "section.html" %}
{% block head_extra %}
<meta name="description" content="{{ section.extra.summary }}">
{% endblock head_extra %}
{% block content %}
<div class="page-header">
    <div class="hero-block">
        <h1>{{ section.title }}</h1>
        <p>{{ section.extra.summary }}</p>
    </div>
</div>

<div class="content bridges-page">

    {{ section.content | safe }}

    <div class="platforms-grid">
        {% for subsection_path in section.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        {% set bridges_data = load_data(path=subsection.path~"bridges.toml") %}
        {% if not subsection.extra.hidden %}
        <a href="{{ subsection.path }}" class="platform">
            <!-- See https://zola.discourse.group/t/function-to-check-if-a-file-exists/1767/2 for why this works -->
            {%- set logo_svg_exists = load_data(path=subsection.path~"logo.svg", required=false) -%}
            {% if logo_svg_exists %}
            <img src="{{ subsection.path }}logo.svg" alt="{{ subsection.title }} Logo" />
            {% else %}
            <img src="{{ subsection.path }}logo.png" alt="{{ subsection.title }} Logo" />
            {% endif %}
            <div class="details">
                <h2>{{ subsection.title }}</h2>
                <p>
                    {% if bridges_data.bridges %}
                    {{ bridges_data.bridges | length }} bridge{% if bridges_data.bridges | length > 1 %}s{% endif %}
                    {% else %}
                    No bridge
                    {% endif %}
                </p>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock content %}
