{% extends "section.html" %}
{% block head_extra %}
<meta name="description" content="{{ section.extra.summary }}">
{% endblock head_extra %}
{% block content %}
<div class="page-header">
    <div class="hero-block">
        <h1>{{ section.title }}</h1>
        <p>{{ section.extra.summary }}</p>
    </div>
</div>

<div class="content bridges-page">

    {{ section.content | safe }}

    <div class="platforms-grid">
        {% for subsection_path in section.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        {% set bridges_data = load_data(path=subsection.path~"bridges.toml") %}
        <a href="{{ subsection.path }}" 
           class="platform {% if not bridges_data.bridges %}no-bridge{% endif %}">
            <img src="{{ subsection.path }}logo.svg" alt="{{ subsection.title }} Logo" />
            <div class="details">
                <h2>{{ subsection.title }}</h2>
                <p>
                    {% if bridges_data.bridges %}
                    {{ bridges_data.bridges | length }} bridge{% if bridges_data.bridges | length > 1 %}s{% endif %}
                    {% else %}
                    No bridge
                    {% endif %}
                </p>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
{% endblock content %}
