{% extends "section.html" %}
{% block content %}
<div class="page-header">
    <div class="hero-block">
        <h1>{{ section.title }}</h1>
        <p>{{ section.extra.summary }}</p>
    </div>
</div>

<div class="content bridges-page">

    {{ section.content | safe }}

    <div class="platforms-grid">
    {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
        <a href="{{ subsection.path }}" class="platform">
            <img src="{{ subsection.path }}logo.svg" />
            <div class="details">
                <h2>{{ subsection.title }}</h2>
                <p>2 bridges</p>
            </div>
        </a>
    {% endfor %}
    </div>

</div>
{% endblock content %}
