{% extends "page.html" %}
{% import "macros/clients.html" as clients %}
{% block head_extra %}
<noscript>
    <link rel="stylesheet" href="/no-js.css" />
</noscript>
<script type="module" src="/js/clients.js"></script>
{% endblock head_extra%}
{% block content %}
{% set clients = load_data(path="content/ecosystem/clients/clients.toml") %}
<div class="page-header">
    <div class="hero-block">
        <h1>{{ page.title }}</h1>
        <p>{{ page.extra.summary }}</p>
    </div>
</div>

<div class="content clients_page">

    {{ page.content | safe }}

</div>
{% endblock content %}
