{% extends "page.html" %}
{% import "macros/clients.html" as clients %}
{% block head_extra %}
<meta name="description" content="{{ page.content | replace(from=" <p>", to="") | replace(from="</p>", to="") }}">
{% endblock head_extra %}
{% block content %}
{% if page.extra.thumbnail %}
{% set thumbnail = page.extra.thumbnail %}
{% else %}
{% set thumbnail = "client-placeholder.svg" %}
{% endif %}
<article class="content">
    <div class="client-details">
        <div class="details">
            <img class="app-logo" src="../{{ thumbnail }}" alt="{{ page.title }} Logo">
            <div class="name-and-release-date">
                <h1>{{ page.title }}<div class="maturity {{ page.extra.maturity | lower }}">{{ page.extra.maturity }}
                    </div>
                </h1>
            </div>
            <p class="summary">{{ page.content | markdown | safe }}</p>
            <div class="project-links">
                {% if page.extra.website %}
                <a href="{{ page.extra.website }}" class="pill">
                    {{ load_data(path="/assets/home.svg") | safe }}
                    Homepage
                </a>
                {% endif %}
                {% if page.extra.docs %}
                <a href="{{ page.extra.docs }}" class="pill">
                    {{ load_data(path="/assets/documentation.svg") | safe }}
                    Documentation
                </a>
                {% endif %}
                {% if page.extra.matrix_room %}
                <a href="https://matrix.to/#/{{ page.extra.matrix_room }}" class="pill">
                    {{ load_data(path="/assets/support.svg") | safe }}
                    Support room
                </a>
                {% endif %}
                {% if page.extra.repo %}
                <a href="{{ page.extra.repo }}" class="pill">
                    {{ load_data(path="/assets/repository.svg") | safe }}
                    Source Code
                </a>
                {% endif %}
            </div>
        </div>
        <div class="features-matrix">
            <ul>
                {% for feature, supported in page.extra.features %}
                <li {% if supported %}class="supported" {% endif %}>
                    {{ feature | replace(from="_", to=" ") | title }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="stores">
        {{ clients::install_links(packages=page.extra.packages) }}
    </div>
</article>
{% endblock content %}
