{% extends "page.html" %}

{% block head_extra %}
<meta name="description" content="{{ page.extra.summary }}">
<noscript>
    <link rel="stylesheet" href={{ get_url(path="/no-js.css" , cachebust=true) }} />
</noscript>
<script type="module" src={{ get_url(path="/js/servers.js" , cachebust=true) }}></script>
{% endblock head_extra%}
{% block content %}

<div class="page-header">
    <div class="hero-block">
        <h1>{{ page.title }}</h1>
        <p>{{ page.extra.summary }}</p>
    </div>
</div>
<div class="content servers">
    <p>{{ page.content | safe }}</p>
</div>
{% endblock content %}
