{% extends "ecosystem/base.html" %}
{% block head_extra %}
<link rel="stylesheet" href="/servers.css" />
{% endblock%}
{% block ecosystem_content %}
{% set data = load_data(path="content/ecosystem/servers/servers.toml") %}
<div class="servers">
    <div class="content">
        <p>{{ page.content | safe }}</p>
    </div>
    <div class="servers-table">
        <strong>Name</strong>
        <strong>Author</strong>
        <strong>Maturity</strong>
        <strong>License</strong>
        <strong>Language</strong>
        <strong>Links</strong>
        <strong>Description</strong>

        {% for server in data.servers -%}
        <!-- new row -->
        <span>{{ server.name }}</span>
        <span>{{ server.author }}</span>
        <span>{{ server.maturity }}</span>
        <span>{{ server.license }}</span>
        <span>{{ server.language }}</span>
        <span>
            {%- for link in server.links -%}
            <a href="{{ link.href }}">{{ link.text }}</a>
            {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
        </span>
        <span>{% if server.description %}{{ server.description }}{% endif %}</span>
        {%- endfor %}
    </div>
</div>
{% endblock ecosystem_content %}
