name: Build site
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    name: Build the site
    runs-on: ubuntu-latest
    steps:
      - name: Repository checkout
        uses: actions/checkout@v4

      - name: Download Zola
        run: |
          version='v0.20.0'
          archive="zola-${version}-x86_64-unknown-linux-gnu.tar.gz"
          curl -L "https://github.com/getzola/zola/releases/download/${version}/${archive}" -o "$archive"
          tar xf "$archive"

      - name: Build
        run: |
          ./zola build
